[2017-01-31 16:25] gonzofish opened #2 "Initialization Issues"
The variable used for the final `process.chdir` is `startDir` but the variable that was defined is `startingDir`. The concerning part is that this never complained before...but someone found it

[2017-01-31 16:29] gonzofish opened #3 "Auto-generate first component"
When a library is initialized, it should create the first component. There is a high likelihood that the first component is going to be the same name as the library.

Perhaps the project initialization needs an option to say "don't generate first component", too, to avoid this behavior.

[2017-01-31 16:30] gonzofish opened #4 "Project Diffing"
This is needed for a couple reasons:

1. We need it to auto-update the `module.ts` file
2. When a project wants to update to the latest, we should be able to prevent overwriting their files

[2017-01-31 16:32] gonzofish commented on #4
Note that `erector-set` already provides an option to prevent overwriting files.

[2017-01-31 23:12] gonzofish opened #6 "No Test Sourcemaps"
When you run unit tests through the browser (Chrome or otherwise) there are no source maps. However, running the dev server produces source maps.

[2017-01-31 23:13] gonzofish opened #7 "No Unit Tests"
For shame.

[2017-02-01 00:28] #6 closed

[2017-02-01 00:29] gonzofish commented on #6
Meant to comment that using a TS file for the test entry file was a bad idea. Switching back to JS made things work as previously expected.

[2017-02-01 00:35] gonzofish commented on #4
We'll need to track the template file changes from one version to another somehow.

## Diffing File Locations

For instance, if I move a file from `src/main.file.ext` to `src/main/file.ext`, maybe we should have a migration file that tracks this and can move files around accordingly. The file would just be a giant object:

[code]

And we could move files around by looping through the object keys.

[2017-02-01 00:35] gonzofish commented on #4
@litzebauer @rhutzel what do you guys think?

[2017-02-01 00:37] gonzofish commented on #2
Fixed with b19e373

[2017-02-01 00:37] #2 closed

[2017-02-01 00:47] litzebauer commented on #4
File diffing is going to be tough. package.json we'll know what information the generator previously put there so we can modify/remove that data and add things to it. It should be kind of easy since it's json. Is there a big need to move files around?

[2017-02-01 00:49] litzebauer commented on #3
Up to you on this feature but is it really necessary? I created a project today that had 0 components. Is it a big burden to run the command to create a component after project generation?

[2017-02-01 00:53] gonzofish commented on #4
Yeah, probably don't need to move things around once it gets stable. I think package.json and some of the setup files are the big concerns. People won't change those for the most part so we can just let them decide if they want to replace the file, like Yeoman does.

[2017-02-01 22:39] gonzofish opened #8 "Cannot NPM Link"
NPM link doesn't work between projects created via angular-library-set.

This is because of how webpack is resolving the modules. This angular-cli pull request sheds some light on the issue:

https://github.com/angular/angular-cli/pull/2291

[2017-02-01 22:40] gonzofish commented on #8
One-line fix is in!

[2017-02-01 22:40] #8 closed

[2017-02-04 18:37] rhutzel opened #10 "Coverage reports for unit tests are empty"

[2017-02-04 21:15] gonzofish commented on #10
Yeah, I haven't made the effort to do coverage reports yet, but I'll see if I can get to it this weekend.

[2017-02-05 18:33] litzebauer opened #11 "Should use CommonModule"
Should use CommonModule instead of BrowserModule

[2017-02-05 19:10] litzebauer commented on #4
With all the changes being made to this project, this feature is becoming more crucial.  I'd be willing to take a first crack at it.  I was thinking of creating a "upgrade" command which would do similar to the initial command but only overwrite files that we know the user shouldn't be manually changing like the webpack files, etc. I think another key file is package.json so maybe I could intellig

[2017-02-05 20:09] gonzofish commented on #4
Yeah I've got no problem with that. I just want to keep dependencies low
because I don't want the package to be invasive and require a ton of
downloads.
On Sun, Feb 5, 2017 at 2:10 PM Jeremy Litzebauer <notifications@github.com>
wrote:

[2017-02-05 20:10] litzebauer commented on #4
OK. I'll see if I can get to it sometime this week.

On Sun, Feb 5, 2017, 3:09 PM Matt Fehskens <notifications@github.com> wrote:

[2017-02-05 23:38] #11 closed

[2017-02-06 01:43] gonzofish commented on #4
I also think it's beneficial to us, for now, to point our projects to the master of this instead of constantly releasing to NPM and waiting for our internal Nexus to update

[2017-02-06 13:54] rhutzel commented on #4
Good point about pointing to master for now, given the frequency of changes.

I agree that files moving between directories is not something to be handled automatically. Things will stabilize and upgrades can include a brief README for the occasional manual step that needs to be taken.

Regarding diffs, I'm concerned about keeping upgrades manageable for the erector author and predictable for end

[2017-02-06 16:23] gonzofish commented on #3
Good point. This could be a CLI argument in the futures; `npm run g i --generate-first-component` or something if the user wants it

[2017-02-06 16:23] #3 closed

[2017-02-06 17:10] gonzofish commented on #10
Merged in changes to get coverage working. Works on `autoWatch`ed testing as well. The coverage files will save to a `coverage` directory using HTML & lcov output. The lcov file is `lcov.info`, the rest of the files in the `coverage` directory support the HTML output.

For existing projects consult the above commits for changes. But here are the highlights:

- `karma.conf.js`
    - `require('karma

[2017-02-06 17:10] #10 closed

[2017-02-07 02:40] gonzofish opened #13 "CLI"
Wanted to make this more of a CLI operation. Allow users to supply command-line arguments, such as --inline-styles or -is, like the Angular CLI when creating various aspects of an Angular project.

[2017-02-08 13:13] litzebauer opened #14 "Source maps not working for tests"
See this in the Jamsine console: SourceMap position not found for trace: undefined

Sourcemaps aren't working in chrome either

[2017-02-08 14:22] gonzofish commented on #14
it should be fixed in master, but i'll take a look at the version you're running (0.0.10-alpha)

[2017-02-08 14:44] gonzofish commented on #14
I think this is a result of angular2-template-loader, via [this issue](https://github.com/TheLarkInn/angular2-template-loader/issues/50)

[2017-02-08 14:53] gonzofish commented on #14
angular2-template-loader is the culprit. To fix from a shell do:

[code]
Update `package.json` so `angular2-template-loader` is `"0.6.0"` not `"^0.6.0"` and run

[code]

[2017-02-08 14:53] #14 closed

[2017-02-09 15:05] gonzofish opened #15 "No sourcemaps during tests"
If you run tests, the source maps are not showing up...to test run `npm test watch` and notice there's no `webpack://` directory, where the maps should be coming from...

It is working on `npm start`, so that might be a good place to start investigating...

[2017-02-13 13:01] #4 closed

[2017-02-17 23:10] gonzofish commented on #15
2d02411 closes this

[2017-02-17 23:10] #15 closed

[2017-02-22 01:08] litzebauer opened #16 "Overwrite files on update"
Overwrite files that aren't likely touched by users.

[2017-02-22 02:13] #16 closed

[2017-02-24 15:41] litzebauer opened #18 "Saves the answers to component, pipe, etc questions"
The answers to questions for component, pipe, etc should not be saved.

[2017-02-24 16:21] gonzofish commented on #18
Yeah, I just noticed this myself. We need to make it so that .erector is updated only for init.

[2017-02-27 15:38] litzebauer commented on #18
@gonzofish  This isn't resolved yet.  Need to publish new version of erector-set and then I can update the dependency and pass true into inquire function when calling during initial

[2017-02-27 15:51] gonzofish commented on #18
Didn't mean to close it...reopened

[2017-02-27 16:29] litzebauer opened #20 "Can't publish using tagVersion(np)"
When trying to tag a version, "np" runs "npm test" to execute the tests.  In angular-library-set "npm test" runs the tests and then stays open watching for changes.  This prevents NP from moving beyond the test phase.  @gonzofish Not sure how you want to handle this.

[2017-02-27 18:19] litzebauer commented on #20
A short term workaround is
`npm run tagVersion -- --yolo`

This skips running the tests before publishing.

[2017-02-27 18:25] gonzofish commented on #20
In order to conform to `np` we can switch the `test` script to default to a single tests and have an option to run all tests via `npm test all`.

[2017-02-27 18:30] litzebauer commented on #20
ok, sounds good

On Mon, Feb 27, 2017 at 1:25 PM Matt Fehskens <notifications@github.com>
wrote:

[2017-02-28 13:54] #20 closed

[2017-02-28 14:34] gonzofish commented on #20
Verified working on a local test project

[2017-02-28 15:30] #18 closed

[2017-03-10 12:59] gonzofish opened #25 "Using `inject` in service tests"
Instead of using `inject` as the default on service tests, we should use `TestBed.get(WhateverService)` from within the `beforeEach`. Cleaner code, less typing.

[2017-03-10 13:01] gonzofish opened #26 "DEVELOPMENT.md"
The text currently supplied to `README.md` is better suited in a secondary file named `DEVELOPMENT.md`. The title of README should stay the same, with the title of DEVELOPMENT set as `# Development of { library name }`

[2017-03-19 18:51] litzebauer opened #27 "AOT broken"
When building app using library created by generator, AOT compiler can't find HTML templates. I believe HTML templates and style files need to be inlined before running 'ngc'

[2017-03-20 02:33] litzebauer commented on #27
See http://www.dzurico.com/how-to-create-an-angular-library/

[2017-03-21 11:33] #25 closed

[2017-03-21 11:33] #26 closed

[2017-03-21 12:59] gonzofish commented on #27
I think we can do this without Gulp. The Material2 JS file that does the actual replacement of `templateUrl` -> `template` and `styleUrls` -> `styles` is *not* Gulp-specific:

https://github.com/angular/material2/blob/master/scripts/release/inline-resources.js

[2017-03-22 01:50] gonzofish commented on #27
I'm super close on this...maybe tomorrow night. Basically your hunch was right, we need to copy over the files into the `dist` directory...

[2017-03-22 01:56] gonzofish commented on #27
Got half the problem solved--doing an inline replace. There needs to be a step before that where we copy HTML & SCSS files into the correct dist directories, then compile the SCSS, then do an inline replace using those files...

[2017-03-22 01:57] gonzofish commented on #27
https://github.com/angular/material2/blob/master/tools/gulp/util/task_helpers.ts

[2017-04-05 11:49] litzebauer commented on #27
@gonzofish This library does what we're trying to do: https://github.com/swimlane/ngx-datatable

[2017-04-07 22:03] gonzofish commented on #27
Big shoutout to the Angular team for suggesting inlining templates & styles but not having a solution to do.

[2017-04-07 22:04] gonzofish opened #28 "Incoporate Rollup"
The Angular team, at ng-conf 2017, recommended utilizing Rollup to do tree-shaking + file concatenation into flattened ESM (FESM)

[2017-04-07 22:07] gonzofish commented on #28
In the demo, rollup was run as part of the `build.sh` script:

[code]

[2017-04-07 22:43] litzebauer commented on #27
I'm planning on implementing this based on ngx-datatable approach early next week unless you plan on working it. I need it now

[2017-04-07 23:05] gonzofish commented on #27
Remember that this file is already doing some of the heavy lifting...we just needed the SCSS + HTML processed before finishing:

https://github.com/gonzofish/angular-library-set/blob/master/commands/initial/templates/tasks/inline-resources.js

[2017-04-08 06:51] gonzofish commented on #27
I think I might've done it. I've got it working locally. I was able to `ng build --prod` and `ng serve --aot -o` with no problem...

The fixes were this:
- Intermediate step of copying all files from src -> build
- Creating a tsconfig.build.json that works out of build
- Having inline-resources work on the build directory
- Having webpack.build.js work on the build directory and use tsconfig.build

[2017-04-08 13:40] litzebauer commented on #27
Awesome! Make sure you set the preTagVersion step in package.jaon to build aot

[2017-04-08 16:58] gonzofish commented on #27
For now, at least, I don't think the preTagVersion step needs to be changed since we're defaulting to an AOT-compatible build.

I'll have to add UMD and < ES2015 support in the next couple weeks, but this effectively closed.

[2017-04-08 17:00] gonzofish opened #29 "Update Build to Support ES5 & UMD Consumers"
The latest version of the build process for libraries does AOT by default, but only produces ES2015 bundles. Having ES5 support is a must and UMD is a nice-to-have (since the Angular team said that supporting UMD isn't a priority anymore).

[2017-04-08 17:15] gonzofish commented on #27
It's all released on NPM and on here as 1.0.0-alpha.5...feels like it's pretty close to a real 1.0.0 release.

[2017-04-09 19:18] gonzofish commented on #13
c14a2b3 added the CLI

[2017-04-09 19:18] #13 closed

[2017-04-09 19:20] gonzofish commented on #27
I suggest removing `angular-library-set` and installing the new package name `angular-librarian` to get the latest and greatest.

This includes a small fix to processing SASS for AOT and a CLI

[2017-05-03 09:58] stevermeister opened #31 "it would be nice to have hint for "Library name""
that could be taken from package.json

[2017-05-03 09:59] stevermeister opened #32 "bug in manual"
`npm i -D angular-librarian`  -  it's not global installation

    `ngl i`  - expected to be global

[2017-05-03 10:37] gonzofish commented on #31
Not a bad idea. Would you be interested in doing a PR?

[2017-05-03 10:38] gonzofish commented on #32
In the README, under [To Use the ngl Command](https://github.com/gonzofish/angular-library-set#to-use-the-ngl-command) it talks about how `ngl` isn't a global command by default.

Was there something else missed? I want to ensure the documentation is clear.

[2017-05-03 11:13] stevermeister commented on #32
maybe it's good to add reference to this explanation from here:
![screen shot 2017-05-03 at 13 11 14](https://cloud.githubusercontent.com/assets/1526680/25658231/2171ab06-3002-11e7-96cf-c1300e68a687.png)

I wanted to check whether it works and immediately run these two commands without reading details. (yes, know my bad, but I think most developers do so)

[2017-05-03 11:32] gonzofish commented on #32
Added docs in 324e740

[2017-05-03 11:32] #32 closed

[2017-05-03 13:39] stevermeister opened #33 "WARNING in ./~/@angular/core/@angular/core.es5.js"
when I'm doing
`npm start`
getting

[code]

[2017-05-03 14:19] gonzofish commented on #33
I just ran into this the other day, let me see what I did to alleviate it

[2017-05-03 14:25] gonzofish commented on #33
The issue is that from Angular 2 -> Angular 4 there were some file structure changes. One of the changes was the location of the linker. I'll fix this in the project, but here's what you can do to fix it in the meantime:

In the `webpack/webpack.*.js` files, change the first entry of the `ContextReplacementPlugin`:

[code]

to

[code]

I'm fairly sure we can get rid of the `core/esm` stuff, but I'

[2017-05-04 22:42] gonzofish commented on #33
Closed by commit ed141

[2017-05-04 22:42] #33 closed

[2017-05-16 07:46] besuhoff opened #34 "Unable to run ngl i on alpha.13"
[code]
At the same time I can correctly run
[code]
Looks like it contains incorrect new line symbol
OS: `Ubuntu 16.10`

[2017-05-16 10:15] gonzofish commented on #34
Thanks for bringing this up. I'll look into it.

[2017-05-16 12:29] gonzofish commented on #34
Fixed with changes in fe01e01

Also republished to alpha.14 in NPM

[2017-05-16 12:29] #34 closed

[2017-05-16 12:46] gonzofish commented on #34
I tested this on a CentOS VM and it worked. Please, if you could @besuhoff, let me know if it works for you

[2017-05-29 13:24] tommueller commented on #27
I still have a problem with this. Importing a SASS-file from node_modules does not work.

I import it like this `@import '~package/dist/scss/imports';` which works well with ngl serve, but not with ngl build:
Stacktrace:
[code]

[2017-05-30 13:04] gonzofish commented on #27
Hi @tommueller -

Is `~package/dist/scss/imports` a 3rd party package?

[2017-05-30 14:31] tommueller commented on #27
Yes it is an installed node_module (~).

[2017-05-30 14:32] gonzofish commented on #27
Thank you, I'll give this a look

[2017-05-31 12:23] gonzofish commented on #27
@tommueller I think this may be related to using [webpack-node-externals](https://github.com/liady/webpack-node-externals). We use this library to prevent external libraries from getting bundled into the distribution.

Basically, when you build your library, you don't want to compile in any external libraries but, instead, want the consumer to specify those libraries. The reason for doing this is

[2017-05-31 12:25] gonzofish commented on #27
@tommueller I think this may be related to using [webpack-node-externals](https://github.com/liady/webpack-node-externals). We use this library to prevent external libraries from getting bundled into the distribution.

Basically, when you build your library, you don't want to compile in any external libraries but, instead, want the consumer to specify those libraries. The reason for doing this is

[2017-05-31 14:53] tommueller opened #35 "i18n does not output anything"
Is it not possible to use angulars i18n tools because this is not an angular-cli application? When I run the code `./node_modules/.bin/ng-xi18n` to extract the strings I do not get any error, but no messages.xlf is output as well.

If so, is there any alternative?

[2017-05-31 14:55] tommueller opened #36 "How to add assets?"
I am building an module which needs some graphics, but no matter where I put the image-files, I cannot get them to show either in the example page nor are they exported to the dist folder.

[2017-05-31 15:08] tommueller commented on #27
@gonzofish thanks a lot for looking into this. I use the import in other packages in the example, which works fine, yes.

In this project I want to import the scss-file into the components css, because the scss contains our global scss-variables, that I would like to use within the component.

I did add the npm-package to nodeExternals-whitelist, but error still occurs. From where it happens I thi

[2017-05-31 15:16] gonzofish commented on #35
Currently i18n isn't something I have any experience with, so I'm not sure what the issue may be or any alternative. If you would like to add support for it, feel free to submit a pull request.

[2017-05-31 15:29] gonzofish commented on #36
There isn't support for assets currently, again, pull requests are always welcomed.

In the meantime, you can update the webpack configuration to pullin files using the `file-loader` and `url-loader`. I believe [this SurviveJS tutorial might help](https://survivejs.com/webpack/loading/images/).

[2017-05-31 15:29] #36 closed

[2017-05-31 15:32] gonzofish opened #37 "Importing 3rd Party SCSS"
Follow-on from [this comment](https://github.com/gonzofish/angular-library-set/issues/27#issuecomment-304660371) on #27

[2017-05-31 15:32] gonzofish commented on #27
No problem, I'll reclose this, but ope another issue and try to give it a more thorough look

New issue is #37

[2017-05-31 15:32] #27 closed

[2017-06-06 05:30] tommueller commented on #37
@gonzofish just played around with this and I cannot use any `@import` within the scss files. I get the error also when I add the file that should be imported into the components folder directly.

Would really like to help you out with a PR, but I do not really understand this project in the first place, sorry :man_facepalming:

[2017-06-06 14:34] gonzofish commented on #37
After some digging around and testing, I _might_ have a fix (based on [this comment](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/234#issuecomment-289265024)), although I can't really tell.

In my sample project I `@import`ed two local files (1 css, 1 scss) and one of the Angular Material prebuilt themes CSS. I also created a node module and imported that into my component

[2017-06-06 15:35] gonzofish commented on #37
The original issue was finally found...we're using [node-sass](https://github.com/sass/node-sass) to convert SASS files to CSS before inlining them in components. Part of the problem is that node-sass doesn't really do `@import` well. You have to specify an `importer` attribute when rendering the SASS to CSS, like:

[code]

Basically we're going to look for a leading `~` and, if so, we'll replace

[2017-06-06 15:36] gonzofish commented on #37
This is all going to be happening in the [`tasks/inline-resources.js` file](https://github.com/gonzofish/angular-library-set/blob/master/commands/initial/templates/tasks/inline-resources.js#L76) at line 76.

[2017-06-06 16:29] gonzofish commented on #37
Tested locally and seems to work.

[Here's the release](https://github.com/gonzofish/angular-library-set/releases/tag/1.0.0-alpha.15)

[2017-06-07 09:19] tommueller commented on #37
Thank you so much for your effort! It kind of works for me, but not really ...

I _can_ successfully import .css files now, but _cannot_ import .scss-files. I still get the same error with .scss-files. I forked the repo, because I thought it's probably an easy fix, but I saw that you did include .scss everywhere. Did you test it with .scss-files?

Cheers,
Tom

[2017-06-07 10:37] gonzofish commented on #37
Hi Tom -

I did test it with both CSS & SCSS files. I'm obviously missing something here...your import looks like:

[code]

Correct? Imports, I take it, is actually `imports.scss`?

[2017-06-07 12:41] tommueller commented on #37
Here is a list with options I tested and with the result (with an css and scss in the parent folder, and in the node_modules/package folder:

-  @import '../imports'; (to import imports.scss) -> _not_ working
-  @import '../imports.scss'; -> _not_ working
-  @import '../imports.1'; (to import _imports.1.scss by partials naming-convention) -> _not_ working
-  @import '../imports.1.scss'; -> _not_ w

[2017-06-07 12:45] gonzofish commented on #37
Thanks for doing this work. I haven't had trouble with files with an `.scss` extension, but did have issues with files with no extension (which I'm working on fixing).

Can you look in `tasks/inline-resources.js` line 76 and see if it looks like [this one in the repo](https://github.com/gonzofish/angular-library-set/blob/master/commands/initial/templates/tasks/inline-resources.js#L76)?

[2017-06-07 12:48] gonzofish commented on #37
Also, I'd never used partials in Sass before, so that'll take some work as well

[2017-06-07 12:54] tommueller commented on #37
Yes, looks exactly like it!

[2017-06-07 12:54] gonzofish commented on #37
Ok...thanks. Looking into it.

[2017-06-07 14:49] gonzofish commented on #37
Do the partials work when you use `ngl serve`?

[2017-06-07 15:04] tommueller commented on #37
yes

[2017-06-07 16:12] gonzofish commented on #37
@tommueller just a heads up, on a local project, it seems to be working for both serve & build. Here's the sample Sass file I have:

[code]

The variable `$text-color` gets imported from `_partial.scss` a level above and other stylings get pulled in from the other stylesheets.

[2017-06-07 17:05] gonzofish commented on #37
I've published 1.0.0-alpha.16 which tries to solve this problem. I'll leave it open until we get a confirmation from you @tommueller

[2017-06-07 17:42] tommueller commented on #37
Thanks a lot @gonzofish

I will only be able to check on this on Monday. Will get back to you as soon as I tested it!

[2017-06-07 17:43] gonzofish commented on #37
Not a problem. Thank you for being patient and working with me on this.

[2017-06-12 05:37] tommueller commented on #37
@gonzofish great this works for me now! Thank you very much!

I did have to initialize a whole new project though, could not get the original one to work after upgrading to alpha.16 ...

I also now get this message in the debug-output of VSCode when building the project:
[code]

[2017-06-12 10:22] gonzofish commented on #37
Great to hear it worked. Do you remember what exactly wasn't working?

[2017-06-12 10:22] #37 closed

[2017-06-12 12:50] gonzofish commented on #37
Did you remove the stack trace? I see it in the email but not the issue here...

[2017-06-12 14:08] tommueller commented on #37
In my old project I still got the same error as posted here: https://github.com/gonzofish/angular-library-set/issues/27#issuecomment-304660371

I removed the stack trace, that error was unrelated (caused by a VSCode-plugin).

[2017-06-12 14:11] gonzofish commented on #37
I know this is a silly question, but you did upgrade the older project? The reason for that error is that it is saying it cannot find the file specified. On a re-init'd project (sorry, that's the "update" method for now), this should only happen with the `@import`-ing of a `.css` file that is missing.

[2017-06-12 14:13] tommueller commented on #37
Yes, I did upgrade ;) or at least I did this:

- update the version of angular-librarian to alpha-16 in package.json
- run `yarn upgrade`

I think that should've done it, right?

[2017-06-12 14:15] gonzofish commented on #37
That would install alpha.16, but you'd still need to run angular-librarian's `init` to re-scaffold the project using the latest. I guess since I know at least 1 person is actively using this I should investigate a better migration/update strategy from version-to-version.

[2017-06-12 14:17] tommueller commented on #37
Okay, I did not know and do that!

Wasn't a problem, because it was a one component library so far, but very good to know for the future!

[2017-06-12 14:22] gonzofish opened #38 "Improve Upgrade Experience"
When moving from one version of librarian to the next, the upgrade experience is a little off. The current strategy is using the `init` command, which makes the user go through the CLI inputs (like specifying the project name). This shouldn't need to be done so manually.

There are two ways we can accomplish this:

1. An `update` command which takes the previous `.erector` values and rescaffolds t

[2017-06-12 14:22] gonzofish commented on #37
Ok so this is officially closed, but has spawned a new issue for better migration: #38

[2017-06-12 14:24] gonzofish opened #39 "Improve Compile Times"
Feels like the testing & dev-server experiences are too slow. Look at other projects to see how they are handling TS compilation and update the project to improve compilation time.

[2017-06-12 14:25] gonzofish opened #40 "Add Contribution Guide"
Need to add a CONTRIBUTING.md to the project so that users can more easily submit PRs and contribute.

[2017-06-14 07:19] tommueller commented on #38
So it's me again. I tried upgrading another library (that actually has more code, so redoing everything would be more annoying.
I upgraded the librarian via npm and run `ngl i`, the wizard asks me for Library name, README title, Repository URL, everything is filled out with former values, so no biggie. *BUT* I cannot complete the upgrade. I cannot get past the _Reinitialize Git project?_, the ques

[2017-06-14 08:32] tommueller commented on #35
Having thought about this, I think this is actually not really implementable ...
angulars i18n support, generates several hard-compiled versions of the code, which is not usable within a library.

I will close this thinking that the code using the component should handover the correctly translated strings, even though for some things this is maybe not the best way.

[2017-06-14 08:32] #35 closed

[2017-06-14 10:44] tommueller opened #41 "Component gets exported but does not work when imported"
Me one more time ... with the new version I created a module, which contains one single component. When I import this into my main-project it does not give any errors, so apparently the component is somehow found, but I does not show up.

Checking the DOM, the page loads the main element of the component
[code]

So data gets loaded into it (items and header), but the element does not have any cont

[2017-06-14 12:17] gonzofish commented on #41
Are you making sure the component is in the `exports` of your module? Also try making sure that the component is being exported in `src/index.ts`

I haven't had any issues with consuming components so far, so it's a bit tough to understand what the issue may be

[2017-06-14 12:24] gonzofish commented on #38
Hmm. The debug log and stack trace aren't giving a good indication of what's going on, but if it is related to reinitializing Git, then the place this would be failing is on the removal of the `.git` directory.

The way we handle this is by basically going into the `.git` folder and recursively removing all files & folders from the bottom up. Again, if it is because of the reinit of Git, there mig

[2017-06-14 12:59] tommueller commented on #41
Yes it gets exported properly. I just found the problem (not the fix though): after building the project in the _collection.component.js_ the template is empty (the html doesn't get inserted):

[code]

[2017-06-14 13:06] tommueller commented on #38
Seems like the upgrade ran through despite the error, at least I can build the project with scss imports. Will check what happens after deleting _.git_-folder in a free second.

[2017-06-14 13:07] gonzofish commented on #41
can i see the componet's code?

[2017-06-14 13:07] gonzofish commented on #38
no problem. thanks again

[2017-06-14 13:08] tommueller commented on #38
Same problem without .git folder!

[2017-06-14 13:08] gonzofish commented on #38
Hmm. This is troubling...it doesn't make any sense to me, but I'll try to reproduce

[2017-06-14 13:13] tommueller commented on #38
I will try to get a project up with this to reproduce, but it'll take me a while (not in office Thursdays and Fridays!)

[2017-06-14 13:14] gonzofish commented on #38
No problem, you're helping me out--if you figure it out and want to contribute back, let me know. I can help you better understand the project

[2017-06-14 13:16] tommueller commented on #41
Using an inline-template solves this problem!

components code:
[code]

Doesn't matter what _collection.component.html_ contains, did not get copied even with just
[code]
as template ...

[2017-06-14 13:33] gonzofish commented on #41
Interesting, that means that the inline script isn't doing it's job...can you copy your `tasks/inline-resources.js` file for me?

[2017-06-14 13:34] gonzofish commented on #41
Actually, nevermind, I'm seeing the same thing here...shoot, something must've broke with that Sass fix--sorry I'll have it fixed ASAP

[2017-06-14 13:36] gonzofish commented on #41
Oh, jeez. I made a big change and I can see what broke it. Thanks again for being vocal about your issues, it's making this project better for both of us!

[2017-06-14 13:42] gonzofish commented on #41
Until I can get a fix published to NPM, you can do this manually:

1. Open `tasks/inline-resources.js`
2. Go to line 83-- you should be in the function `getMiniContents` and the line should just be the closing brace of an `if` statemtent
3. Paste the following right after that closing brace:
[code]
What happened is that I stopped reading the Sass files manually, but in the process stopped reading

[2017-06-14 15:13] tommueller commented on #41
Sorry, already out of office, can only comment on this on Monday.

Thanks for looking into it and fixing this so quickly!

[2017-06-15 10:02] tobi-or-not-tobi opened #42 "Add module generator"
Great work on this! Very convenient to build a library. I'd love to see if we can have:
- a module generator
- additional path where the module/component/etc are being added

[2017-06-15 12:36] gonzofish commented on #42
First off, thank you! Both for the compliment and for using the library.

This is an interesting request. I get wanting a secondary module--the challenge I see is that we'd need a convenient way of providing the right destination for files. Currently it's more or less hard-coded that all components drop into `src/{{ component selector }}`, services to `src/services`, etc.

Perhaps we can make it s

[2017-06-15 12:53] tobi-or-not-tobi commented on #42
I'm used to angular-cli where I'd start with building a module:
[code]
followed by adding components/services/etc with
[code]
This would result in a reusable module. Personally I'm not a big fan of shared _services_ directory, I tend to have a more context driven approach. That being said, it makes more sense in a library as the number of modules/components/services is typically smaller.

If you'd

[2017-06-15 12:59] gonzofish commented on #42
That all makes sense, especially given that I'm trying to keep the API close to the CLI's...I'm not sure what an ETA on something like this would be, since it may have some further reaching impacts.

Again, thanks for a good suggestion!

[2017-06-17 14:46] stevermeister commented on #31
frankly speaking, I'm looking forward to see something official for library support, like angular-cli

btw, according to repo updates you found another tool?

[2017-06-17 16:44] stevermeister commented on #31
I found this one - https://github.com/jvandemo/generator-angular2-library
but not big fan of yeoman, so may be there is even better one

[2017-06-17 18:41] gonzofish commented on #31
not sure what you mean.

As far as yeoman, I've always thought it was a bit bulky--which has made me shy from it

[2017-06-19 10:51] tommueller commented on #41
Just checked this and it does work! Thanks!

[2017-06-19 12:17] gonzofish commented on #41
Great!

[2017-06-19 12:18] gonzofish commented on #41
Whoops, haven't released the fix yet

[2017-06-20 08:00] tommueller commented on #38
Ok, I managed to reproduce this with the most simple case. These are the steps I performed:

### Reproduce not upgradeable project
- `mkdir librarian-test`
- `cd librarian-test`
- `npm init -f`
- `npm i -D angular-librarian@1.0.0-alpha.14`
- `ngl i`
  - enter following data:
     - repository url: https://github.com/tommueller/librarian-test
     - reinit git: yes

__Project is running!__

- updat

[2017-06-20 11:51] gonzofish commented on #38
@tommueller you are awesome for figuring out how to get this to reproduce

let me investigate!

[2017-06-20 12:16] gonzofish commented on #38
I think I may have figure out the culprit here--we store the answer to the git init question as a boolean, but the STDOUT wants a string and we're not giving it one. It tries to parse `true` as a string and that fails.

[2017-06-20 12:35] gonzofish commented on #38
Interestingly enough, this is actual an issue with the scaffolding library [erector-set](https://github.com/gonzofish/erector-set) so I'm filing the issue against that library.

[2017-06-20 13:39] gonzofish commented on #38
Update published to the upgrade issue here, version is 1.0.0-alpha.18

[2017-06-20 16:19] tommueller commented on #38
Great, thanks for the quick fix!

[2017-06-20 16:21] gonzofish commented on #38
Worked for me...let's hope it does for you too 😰

[2017-06-21 06:09] tommueller commented on #38
Yep works for me as well! Thanks

Is it really necessary to run the whole command again though? Including `npm install` etc.?

[2017-06-21 06:15] jogelin opened #43 "Multiple library in one repo"
Hello,

I am following the issue [#6510](https://github.com/angular/angular-cli/issues/6510) on angular cli and, one of the last reaction of @shlomiassaf is a list of key features that a library template should provide.

One point that library template should take in account is the "monorepo" case. Is there a way to manage multiple library with angular-librarian ?

[2017-06-21 10:12] gonzofish commented on #38
That's what I'm trying to work out with this issue
On Wed, Jun 21, 2017 at 2:09 AM Tom Müller <notifications@github.com> wrote:

[2017-06-21 11:32] gonzofish commented on #43
There's not currently, but that's something I'd be interested in adding (I responded to the comment you're referencing on [#6510](https://github.com/angular/angular-cli/issues/6510)). I've never worked in a monorepo, so I'm not sure of all the considerations that need to be made.

Are there any special concerns you have for such a feature?

[2017-06-21 11:39] gonzofish commented on #38
Also it is necessary to run through NPM install if there's a change in the dependencies of `package.json`. But that doesn't have to happen _every_ time.

Most of the `init` process doesn't need to happen on an upgrade--only the updating of files angular-librarian provides (webpack files, karma.conf, etc.) and (occassionally) running `npm install`.

If there isn't a significant change in any depend

[2017-06-21 12:12] jogelin commented on #43
I saw your comment and sorry but I forgot to thank you for you work. I think it helps a lot of developers !

My main concern is when you have to manage a lot of libraries, you cannot maintain the same number of repositories and you don't want to duplicate same configurations.

I am working in a big company with many applications and we are creating a lot of libraries (+50) which are shared accross

[2017-06-21 12:16] #41 closed

[2017-06-21 12:17] gonzofish commented on #43
Thanks 👍 Your gratitude means a lot (and keeps me motivated 😆)

I think that your request ties in with @tobi-or-not-tobi  request in #42--I know that generating a module is not the _only_ part of this problem, but I think being able to have sub-modules could be a good step 1.

After that, I think being able to publish individual sub-modules would be a good step. I'll do some reading to get familia

[2017-06-21 12:40] tobi-or-not-tobi commented on #39
I just read through a few other issues and saw your note about priorities. Just want to let you know that the build performance is something that really bothers me. It feels a bit going back a year (when the angular cli was building very slow as well). I'm afraid I'm not keen enough on the topic to help out or give valuable pointers. I did a bit of reading last week, but realized I'm not close eno

[2017-06-21 12:54] gonzofish commented on #39
I couldn't agree more with you. And appreciate the honesty about not knowing--I'm right there with  you. I spent a couple hours last week on this and got nowhere. I should've mentioned this on that list of priorities, as it is a HUGE priority.

[2017-06-21 13:55] jogelin commented on #43
Yes, publishing individual sub-modules would be a very good step !

You can find some links about monorepo here: [build-angular-monorepo-and-app](https://github.com/jogelin/build-angular-monorepo-and-app).

It's a repo that I started long time ago to try to solve this issue but I have no time and to be honest, no enough knowledge to maintain this repo...my bad :(

Again, thanks for your job and go

[2017-06-21 15:09] shlomiassaf commented on #43
Hi guys

Most of the hard work for supporting multiple libraries is around mapping.

Each library must map to its public import token, so other libraries and the demo app will access it by the public import and not the relative import.

This mapping is then applied for each processes. Webpack, TypeScript (paths) and optional others (e.g jest).

This has to be explicit for every library and via a b

[2017-06-21 19:56] tobi-or-not-tobi commented on #39
I'm spending some time on this tonight and I'm getting somewhere. My lib and example build time during dev watch have went down from ~10s to ~250ms. Pretty great, I'm however not sure (a) which of my changes lead to the massive dropdown and (b) whether I'm going to face any issues later on. Keep you posted, will do a pull request as soon as I'm having something stable.

[2017-06-21 20:02] gonzofish commented on #39
Wow, awesome! Thanks a lot @tobi-or-not-tobi  👍

If you figure out what it is, make a PR and I can help you contribute your findings back.

[2017-06-21 20:37] tobi-or-not-tobi commented on #39
After doing a bit more testing it really comes down to changing the creation of sourcemaps. The current value for devtools (`devtool: 'source-map`) is considered very slow. The [webpack documentation](https://webpack.js.org/configuration/devtool/#components/sidebar/sidebar.jsx) shows the different values and their impact on performance.

My testing shows that the initial start takes still some tim

[2017-06-21 20:38] gonzofish commented on #39
I think the cheap-module-eval would probably be good! Great work!

[2017-06-21 21:09] gonzofish commented on #38
First off, the upgrade functionality is going to bring with it an auto-upgrade of angular-librarian. Meaning, after the first version of the update is out there, you'll be able to run `ngl upgrade` and angular-librarian will check for a new version. If one is out there, it will upgrade your application.

Secondly, the following files will be upgrade-able and will be 100% managed by angular-librari

[2017-06-22 08:35] jogelin commented on #43
@shlomiassaf I completly agree !

Do you have any advices, ideas about how this mapping shall be done ?

I think it should be provided by the npm environment:
- It could help to have a local repository by default (like the maven repo in Java) where we could publish our libraries before publishing on a remote repo.
- Having some conventions in the packages.json to be able to inherit from a parent,

[2017-06-22 09:29] shlomiassaf commented on #43
If don't want to use scripts it means you want the users to write those mapping definitions and all other complex configurations.

This will not work, it's advanced and requires deep understanding in how every system works, it's just something that people will  not do, they want it to work magically. Otherwise they need to dig deep into each tool, which is not realistic.

For example, with webpack

[2017-06-22 09:58] jogelin commented on #43
Again, I agree with you ;) I don't want to write mapping definitions, I don't want know all tools deeply, I just want it to work magically :p

You said that each tool work differently...this is my main concern...why each tools create a new way ? Why they cannot agree on a common way ? I think it's because there is no common way..., rules..., a standard defined by an "official organism"...

Because

[2017-06-22 10:39] shlomiassaf commented on #43
The reason each tool works differently is simple, they are built by different teams and for different purposes.

Webpack is a bundler, TypeScript is a compiler so they might have different requirements.

It's almost impossible to regulate this thing, to many opinions, ego and work.

Sent from my iPhone

[2017-06-22 11:46] jogelin commented on #43
To regulate opinions, ego and work, I agree, it's complicate but not impossible.

Sorry to come back that again but:

|            |                                                                                   Java                                                                                   |

[2017-06-22 11:51] gonzofish commented on #43
Unfortunately, this isn't really a good spot to be having the "why can't JS have a common way of doing things?" conversation. It's both a blessing and a curse of the JS world--the better place to figure it out would be with [TC-39](https://github.com/tc39)

Hope I'm not coming off like a jerk. The topic is just outside the scope of the project

[2017-06-22 12:08] gonzofish commented on #39
Just tested it out with some unit tests myself and wow is that faster!

[2017-06-22 13:11] gonzofish commented on #39
so this fix is great for runnin the dev server, but it unfortunately does not apply to unit tests. while it makes the tests MUCH faster, [`karma-webpack` has issues with outputting sourcemaps unless you use `inline-source-map`](https://github.com/webpack-contrib/karma-webpack/issues/224).

so for now the fix will just be for the `npm start`/`webpack.dev.js`

[2017-06-22 13:11] gonzofish commented on #39
@tobi-or-not-tobi do you want to fork & add this fix? it's a pretty simple one, so it'd be a good/easy fix to contribute--if you do, I can point you to the exact place to make the change

if not, that's cool, too. just figure i'll always give someone the opportunity to turn their commit graph green 😉

[2017-06-22 16:50] tobi-or-not-tobi commented on #39
Thanks @gonzofish I'll give that a try :)

[2017-06-22 17:12] tobi-or-not-tobi commented on #40
yes, would indeed be nice to know how we can help here.

[2017-06-22 17:23] gonzofish commented on #39
Although #44 fixed the server performance, I'm keeping this open to see if I can fix test performance will keeping sourcemaps--might forgo it for now, but still worth investigating

[2017-06-22 20:02] Itschrismorgan opened #45 "P alias triggers publish instead of pipe"
It looks like the ```p``` alias is defined twice for both publish and pipe.

I could create a PR to change the alias for publish to be ```pub``` and leave ```p``` for pipe.

That would keep pipe consistent with the aliases for component, service, and directive.

I would update the docs to match the change as well.

[2017-06-22 20:07] gonzofish commented on #45
Absolutely! The file is located here: https://github.com/gonzofish/angular-librarian/blob/master/index.js if you didn't know that already

Thanks

[2017-06-22 20:08] gonzofish commented on #45
Oh, and if you could update the README to match, that'd be awesome

[2017-06-22 20:26] gonzofish commented on #45
Closed by #46 (talk about a quick turnaround!)

[2017-06-22 20:26] #45 closed

[2017-06-22 20:36] gonzofish commented on #39
Leveraging @tobi-or-not-tobi's suggestion, I've changed around `webpack.test.js` so that it exports a function that takes a boolean `watch` parameter.

I also updated `tasks/test.js` so that the we pass in a `watch` boolean when grabbing Webpack config for testing. So from now on headless tests *should* work much faster and watch tests (for now) are just going to be slow (😒).

Also, under this inv

[2017-06-22 22:02] gonzofish commented on #39
Closing since tests should be faster with f2fe239

[2017-06-22 22:02] #39 closed

[2017-06-23 16:34] gonzofish commented on #38
1. Get user configs working
    - ~~Webpack~~
    - Karma
2. Get TypeScript files updating properly

[2017-06-26 17:37] gonzofish commented on #38
I'm not closing this yet--going to put it into a beta first

[2017-06-26 17:38] #29 closed

[2017-06-26 18:35] gonzofish commented on #40
Added initial guide!

[2017-06-26 18:35] #40 closed

[2017-06-27 18:20] gonzofish commented on #28
Delivery works differently now--I'm going to release beta.1 to see if this works

[2017-06-27 19:06] gonzofish opened #48 "Resources Not Properly Inlined"
The new rollup process is not inling resources properly.

For now roll back to [the last alpha (.19)](https://github.com/gonzofish/angular-librarian/releases/tag/1.0.0-alpha.19) and don't update until further update

[2017-06-28 17:16] gonzofish commented on #48
Closed with f08a3b9

[2017-06-28 17:16] #48 closed

[2017-06-28 17:19] gonzofish commented on #38
Working properly as of c11b095

[2017-06-28 17:19] #38 closed

[2017-06-28 17:19] gonzofish commented on #28
Working properly as of c11b095

[2017-06-28 17:19] #28 closed

[2017-06-28 20:10] gonzofish commented on #31
Closed by 20195b3

[2017-06-28 20:10] #31 closed

[2017-06-28 20:15] stevermeister commented on #31
thx!

[2017-06-28 20:18] gonzofish commented on #31
no problem--it might be a bit before it's added to a release, but not too long--I'm working towards a true version 1 right now

[2017-06-28 20:28] gonzofish commented on #42
Does it bother you that, in the Angular CLI world, the module folders live alongside the app module's components & services? That seems really messy. I'm trying to figure out a good way to organize everything.

Might be to put components into a `components` directory and then any modules into a `modules` directory? Althought I hate adding another level...

[2017-06-28 21:18] gonzofish commented on #43
To get this working appropriately, the generated project structure would have to change significantly.

Currently, all the files live under `src`:

[code]

But with a monorepo approach, we need something more like:

[code]

It looks relatively straight forward...the migration would be minor (taking the existing `src` and moving it into `packages/{{ name }}`).

Some questions still:

- Would this s

[2017-06-29 06:21] jogelin commented on #43
I don't think it is necessary to rename the src folder. Source is still source code.

After testing multiple library seeds and monorepo client like lerna, ora, yerna, etc..., I prefer the file structure of [angular-library-starter](https://github.com/shlomiassaf/angular-library-starter).
It is supporting one or multiple library, with or without scope. It supports also a demo application which is v

[2017-06-30 08:52] tommueller commented on #38
great, thanks!

[2017-06-30 14:24] gonzofish commented on #43
Progress is definitely being made in the [monorepo branch](https://github.com/gonzofish/angular-librarian/tree/monorepo)...

I'm taking cues from both @shlomiassaf's project and @filipesilva's [angular-quickstart-lib](https://github.com/filipesilva/angular-quickstart-lib) for inspiration/copying

[2017-07-10 08:49] jhwegener opened #49 "Error in WebPack build"
Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin, refer to https://github.com/webpack/extract-text-webpack-plugin for the usage example

This error occurred, if you have files like css in a dependency lib.
Can be fixed with two lines in webpack.common.js:

at top:
const ExtractTextPlugin = require("extract-text-webpack-plugin");

in plugins-

[2017-07-12 08:38] jhwegener commented on #49
merged, so I'm closing this issue now

[2017-07-12 08:38] #49 closed

[2017-07-13 10:10] stevermeister opened #51 "ng serve command is broken after installing package created by angular-librarian"
not sure whether it's a bug of angular-librarian, but decided to report it also here to let you know
https://github.com/angular/angular-cli/issues/6961

[2017-07-13 12:41] gonzofish commented on #51
That's very strange--I'll try setting up a project myself and seeing what happens

[2017-07-13 13:16] gonzofish commented on #51
it looks like the CLI changed how they're handling packages in 1.2 so I think what's happening is that installing a 3rd party package installs the `@angular/*` packages more than once as far as the CLI can tell

[2017-07-13 13:27] gonzofish commented on #51
I ran `npm install` inside `myapp` and everything seemed to work after that

[2017-07-13 13:55] stevermeister commented on #51
even after `npm install` does not work for me :(

[2017-07-13 14:03] gonzofish commented on #51
you're getting the same error?

[2017-07-13 14:50] kferstl opened #52 "referenced templateUrl styleUrls not working, inline works"
Referenced files for template and styles do not work with out-of-the-box configuration. I just ran ```npm run start``` using windows with node v8.1.3, i also tried 6.9 LTS without success.

I debugged it a bit and found that the Angular Compiler does not properly read the @Component metadata. It does read the "selector" property but it reads "templateUrl" as an empty string instead of the actual v

[2017-07-13 15:35] stevermeister commented on #51
just removed everything and did with npm install - and now it works, weird..

[2017-07-13 15:38] stevermeister commented on #51
ok, now I got something else when try to include the module:

`AngularSwitcheryModule is not an NgModule`

[2017-07-13 15:40] gonzofish commented on #51
Yeah I did too, try doing `AngularSwitcheryModule.forRoot()` on the import

[2017-07-13 15:40] stevermeister commented on #51
sorry, my bad, true

[2017-07-13 15:41] stevermeister commented on #51
now something new:
[code]

[2017-07-13 15:42] gonzofish commented on #52
I haven't had this issue so far...can I see some code? I've been using librarian day-to-day and I only use `templateUrl` & `styleUrls`

[2017-07-13 15:43] gonzofish commented on #52
And thanks for the compliments, always nice to hear kind words

[2017-07-13 15:43] gonzofish commented on #51
Weird, I didnt get that. Can I see your `app.module.ts`?

[2017-07-13 15:44] stevermeister commented on #51
[code]

[2017-07-13 15:46] stevermeister commented on #51
and the most weird thing:
when I remove line
    AngularSwitcheryModule.forRoot()
it works
and when I return it back (without stoping `ng serve`) is works!!!!

BUT when I stop `ng serve` and try to run it again - same error

[2017-07-13 15:51] gonzofish commented on #51
Interesting...still looking into it

[2017-07-13 15:57] gonzofish commented on #51
I'm not sure if this is looking like something the library is doing wrong...

[This issue against the CLI](https://github.com/angular/angular-cli/issues/4956) has devs complaining of the same problem.

[2017-07-13 16:00] stevermeister commented on #51
Yes, I also find this thread.
Is there a way to reproduce it without publishing? Basically to run compiled version

[2017-07-13 16:00] gonzofish commented on #51
Further investigation led to [this answer by @trekhleb](https://github.com/angular/angular-cli/issues/4647#issuecomment-305967234) which led to [this answer by @SebastianSchenk](https://github.com/angular/angular-cli/issues/3854#issuecomment-274344771)

So I'm not sure _what_ to think...

[2017-07-13 16:04] kferstl commented on #52
i created a little repository with the bricked code :-)

https://github.com/kferstl/angular-librarian-test

what i did:
- initialize a new library project as described in the "Usage" section
- used npm-check-updates to upgrade all packages to the latest version ```ncu -u -a```
- reinstalled all node_modules, versions are fixed in the package_lock.json so you should get my exact state
- run ```npm

[2017-07-13 16:09] gonzofish commented on #52
Ok, I'll check out your repo and see what goes--I'm on node 6.9.5 right now myself and it's been working

[2017-07-13 16:38] gonzofish commented on #51
So...that error doesn't have a big  effect on running `ng serve` after the initial pass.

Basically, as you said, @stevermeister, if you just save a file for a second time, it'll recompile no problem...this is a really odd problem.

[2017-07-13 17:22] gonzofish commented on #52
I'm almost 100% sure, after running some local tests, that running `ncu -u -a` is what caused the problems. The `package.json` that is scaffolded out by `angular-librarian` is setup somewhat specifically--even changing something like `@types/jasmine` can cause error messages.

My assumption from issues in the past was that updating `angular2-template-loader` past `0.6.0` is causing the problems. S

[2017-07-13 20:51] kferstl commented on #52
downgrading to angular2-template-loader v 0.6.0 causes the loader to load the actual content of the template appended to the URL. So it now actually resolves the file but it tries to load the content as an URL then. Strange behaviour ;)
using the angular router, with a simple template just containing the <router-outlet></router-outlet> therefor results in the following request:

```http://localhos

[2017-07-13 21:01] gonzofish commented on #52
wait so you're using the Angular router, too?

[2017-07-14 12:13] gonzofish commented on #51
Quick question, @stevermeister, what OS are you using?

[2017-07-14 12:39] stevermeister commented on #51
macOS Sierra

all information about env is provided here - https://github.com/angular/angular-cli/issues/6961

[2017-07-14 12:42] gonzofish commented on #51
Well there goes that theory 😢

Still trying to parse it out...

[2017-07-14 13:01] gonzofish commented on #51
Just a "update":

1. I've seen answers from Angular team members saying to others that the metadata isn't being provided or its bad--but from any comparison I do (such as to the Angular Material outputs), everything looks correct.
2. I'm really down in the weeds on the CLI trying to figure this out, I'm looking at the spot where the compiler tries to gather info about our module.
3. This feels a b

[2017-07-14 13:39] gonzofish commented on #51
I may have figured it out! I think its two-fold:

1. The `types` attribute in `package.json` should be `typings`
2. The value for that attribute should be `./[your package].d.ts` not `./index.d.ts`

So (and you can do this from within your Angular CLI app), modify the `package.json` of your library so that the line:

[code]

becomes:

[code]

And let me know if that fixes anything...

[2017-07-14 13:54] gonzofish commented on #51
I published [my test library for Angular librarian with the changes](https://github.com/gonzofish/angular-librarian-test) and it seems to be working.

It also makes it so you don't _have to_ do `.forRoot()`, unless you need to.

[2017-07-14 15:45] gonzofish commented on #51
@stevermeister, I'll leave this to you to close. You can do so by updating to the latest version, if need be.

[Link to latest release](https://github.com/gonzofish/angular-librarian/releases/tag/1.0.0-beta.8)

[2017-07-14 15:57] gonzofish opened #53 "tagVersion/publish does not bump package.json version"
Noticed in my testes that my project's `package.json` version isn't getting publish. I also noticed that no Git tags were being created either.

This is because we're using [np](https://github.com/sindresorhus/np), which is a great library. However, because of the way it works, as part of `tagVersion`, we `cd` into `dist`. When we do this, the `dist` version of `package.json` _does_ get bumped, bu

[2017-07-14 18:26] gonzofish commented on #53
Ok, I believe I've figured this out--it involved changes to the build process. The use of `np` was not added by me and I didn't know enough about it. So I did a little research and, instead of running the `build` step as part of `preTagVersion` step, we're doing it at `prepublish`. By doing this, `np` will go about business as usual and build the package into `dist` right before publishing. We the

[2017-07-14 18:52] gonzofish commented on #53
Still working it out: https://github.com/sindresorhus/np/issues/175

[2017-07-14 19:15] gonzofish commented on #53
I believe I've "solved" it, until I get an answer back from the `np` team/community.

Instead of letting `np` do the `npm publish`, we pass it a `--no-publish` flag and then do `npm run build && npm publish dist` as a `posttagVersion` script.

[2017-07-16 12:23] gonzofish opened #54 "Scaffold for Examples folder"
Allow usage of an `--examples` or `-x` flag so users can add a component/service/etc. to their `examples` directory.

[2017-07-16 15:35] gonzofish commented on #53
The `np` team isn't going to provide a way of doing this, so for now we'll keep using `np --no-publish` + `npm run build && npm publish dist` to accomplish this

[2017-07-16 15:35] #53 closed

[2017-07-16 15:36] gonzofish commented on #52
Anymore details on this @kferstl? I was hoping to help you out here, if you're ok, though, let me know so I can close this up!

[2017-07-16 15:40] gonzofish commented on #43
I'm going to push this off for now

While I've made progress I'm adverse to publishing a v1.0.0 that diverges so much from how people who've been using it have had their projects structured.

In the future, when I support this, projects can be setup with a `--monorepo` or `--m` flag. Additionally, I'd like to allow projects to toggle to a monorepo setup if they'd like to after initial setup.

[2017-07-17 20:06] #51 closed

[2017-07-17 20:06] #52 closed

[2017-07-17 21:22] gonzofish commented on #54
fd2138c, eeee850, 1e08f58, and 7f0899d close this!

[2017-07-17 21:22] #54 closed

[2017-07-18 08:39] x1c0 commented on #54
great stuff, thank you, I'll give it a try and then let you know ;)

[2017-07-18 13:47] el-davo opened #56 "protractor?"
Hi great app, We have adopted it as our main scaffolding app for generating libraries. Today we updated it to support protractor as we use protractor alot. Is this something you would be willing to accept a pull request on? If not then thats fine to :+1:

[2017-07-18 14:47] gonzofish commented on #56
Definitely! I've never done protractor in a serious manner, but I'd be willing to bring it in.

And it's great to hear that you guys have found this library useful!

[2017-07-18 14:48] gonzofish commented on #54
It'll be in the next release, beta.10 (sometime this week).

[2017-07-21 10:01] tommueller opened #58 "Build fails with scoped package name / changed package name"
My build is failing since the update to the official beta versions, because apparently the new build-process reads the package-name from the package.json for something?
When I created the package I called it `MyLib` and some weeks later had to rename it to `@MyCompany/MyLib`. Since the upgrade this breaks the build process.

[code]
also running `ngl init` again and trying to rename the module here

[2017-07-21 10:14] nvdnkpr opened #59 "Dont use package scope everywhere"
When initializing with npm one can have an (optional) scope along side the command.
e.g. running `npm init -f --scope myScope` in a directory `MyPackageName` leads then to a package name `@myScope/MyPackageName` which is also used for the main module's class name when running the following `ngl i`

Unfortunately this includes the leading @ from the Scope and the seperator / which Typescript both d

[2017-07-21 10:16] nvdnkpr commented on #59
I can fix it and send you a pull request, but expect it this evening, since I'm currently in the middle of sth.

[2017-07-21 12:15] gonzofish commented on #58
Can I see your `package.json` as a Gist or something?

[2017-07-21 12:15] gonzofish commented on #58
Also looks this & #59 may be similar issues

[2017-07-21 12:18] gonzofish commented on #59
Ah, yes, I wasn't originally supporting scoped packages, but this is the 3rd or 4th person to mention it, so looks like it's worth investing time in. Also #58 looks related.

[2017-07-21 12:20] tommueller commented on #58
#59 does look related, yes. This is my package.json:
https://pastebin.com/GcKVC817

Thanks

[2017-07-21 12:27] gonzofish commented on #58
Thanks! This will help! Scoped packages weren't originally supported, so it's "natural" that they failed. There are some considerations that need to be made to support them...

In your `package.json`, did you manually change the entrypoint values (`main`, `es2015`, `module`) and `typings` values? Just wondering, it doesn't seem like librarian would've produced those values.

[2017-07-21 12:29] tommueller commented on #58
I renamed them for pasting them to remove the company name. They are originally in the form `"./package-name.es5.js` etc. pp.

[2017-07-21 12:30] gonzofish commented on #58
Ah, gotchya

[2017-07-21 12:48] gonzofish commented on #59
@nvdnkpr I'm going to take this one because I think there are a few more things to consider than just how the package name is utilized for building the scaffolded module.

Just an FYI, we'll still be using the right side of the `/` to generate the module name. This means `@myScope/cool-package` will still scaffold out an `cool-package.module.ts`.

The build for scoped packages will be slightly dif

[2017-07-21 12:48] gonzofish commented on #59
This is good, too, because it takes the project in a direction to be able to support monorepos!

[2017-07-21 12:49] gonzofish commented on #58
By the way, I'm going to close this one and use #59 as the main issue (only because I looked at it first).

[2017-07-21 12:49] #58 closed

[2017-07-21 13:33] gonzofish commented on #58
I just realized I didn't say thank you for your kind words...so thank you!

[2017-07-21 16:25] gonzofish commented on #59
@nvdnkpr & @tommueller, would either (or both) of you be interested in testing the feature before I publish it? It's a significant change, so I want to make sure it works.

[2017-07-21 16:38] gonzofish commented on #43
Another heads up...#59 is a small step toward achieving monorepos...

The code is done for #59, just need to do some more testing--but it at least adds scoped package support

[2017-07-24 06:12] tommueller commented on #59
I will help wherever I can! I cannot really follow the code here though, so I don't know how much I can assist you, but I can test if my project works with the fixed version.

[2017-07-24 11:35] nvdnkpr commented on #59
@gonzofish Hello Matt,
if you ask me you shouldn't rush to solve an error (the use of @ and / in a class name are errors) with a enhancement (making angular-librarian a multi-module library seed) . My intention of this issue was to avoid angular-librarian being dropped by other because they use a common feature of npm (=> scopes). And since your work of using scopes was almost fine (except for the

[2017-07-24 13:49] gonzofish commented on #59
@nvdnkpr my fix is purely aimed at fixing the error you described! I was just mentioning that it is a step towards multi-modules & monorepo support. Also thank you for the offer to help get `angular-librarian` there 😉

If either of you are interested in helping, here's how you can test!

## Install the Branch Version

1. Remove `angular-librarian` from your project but don't save it:
[code]
2. In

[2017-07-25 06:07] tommueller commented on #59
Ok I just did that with a copy of my project and here are my results ;) :

- I also had to run `ngl init` again to make it work (missing in your description)
- the ngl commands still work
- the __build__ works fine
  - the output looks exactly like the compiled version of the project with the older version, __BUT__ the `package-name.js` etc. files are now contained within a `@scope`-folder in my d

[2017-07-25 12:44] gonzofish commented on #59
@tommueller  Ah, great to hear! Sorry for omitting such a critical step in getting it usable. The output is exactly what we're looking for, too. That lines up with how the [Angular Package Format](https://goo.gl/AMOU5G) is described. Were you able to use it in a CLI project by any chance?

@nvdnkpr were you going to take a stab at it? If so, let me know if it worked. If not, let me know, too, so I

[2017-07-25 13:33] tommueller commented on #59
I will try to use it in a CLI project tomorrow and let you know!

[2017-07-25 13:40] gonzofish commented on #59
Thanks, @tommueller, it's worked for me, hopefully it'll work for you too!

[2017-07-26 07:11] tommueller commented on #59
@gonzofish having some troubles here, but not sure whether this is a problem caused by angular-librarian or by my CI ...

I can build the project without problems locally, but in the CI the build fails with the following error:
[code]
don't get why though ... packages are loaded using yarn, so I should definitely have the same version in the CI then locally.

A second issue is, that the `npm run g

[2017-07-26 07:19] tommueller opened #60 "Build examples-page as well"
Hi,

I use the examples-page quite heavily for documenting the use of the components withing the library created with angular-librarian. I would love to be able to publish a compiled version of the examples page with the project, so that people who want to look up how to use a certain component do not necessarily clone the source and run the library locally.

Maybe there could be an additional com

[2017-07-26 09:30] tommueller commented on #59
Okay I have some more problems. Most of them are probably not specific to this issue, but to the upgrade to beta.9 already, since I couldn't build the package after the upgrade because of the scope thing, I now cannot really tell apart what comes from what.

The package npm generates and wants to publish seems to be broken. Here are the things that are not working for me:
- for some reason with th

[2017-07-26 12:50] gonzofish commented on #59
Ok let me look into this. You're being a massive help by testing this for me. Your reports are very nicely detailed, too.

[2017-07-26 13:07] tommueller commented on #59
Sure, now worries. You created a great tool that I can use ... ;)

I will be off for holidays by this evening, so I will only be back to investigate further on this by Monday the 7th!

[2017-07-26 13:12] gonzofish commented on #59
- The `dist` folder isn't going to get packaged because what actually happens is that the `tagVersion`/`publish` commands publish package the `dist` directory--that's why there's now a `package.json` in `dist`
- There hasn't been an `index.js` in `dist` for a while--this is just a case of me better learning what should/shouldn't be published. If you look at `package.json` and look at the `typings`

[2017-07-26 13:17] gonzofish commented on #60
I originally had the examples build with the package, but I wanted to follow the Angular Package Format, which didn't have that included--I wonder what could be used instead...perhaps gh-pages?

[2017-07-26 13:33] tommueller commented on #59
that means that if I used `npm publish` before, now I need to use `npm publish dist`?

That is working, when I installed the #scoped-branch and ran `ngl init` afterwards it did override the `angular-librarian` entry in the package.json, that is why in my CI it installed the wrong version first ...

[2017-07-26 13:37] gonzofish commented on #59
Ah, shoot, yes. Take a look at the `posttagVersion` script in `package.json`. That will do what you want it to do. If you use `npm run tagVersion`, it will do some nice checks to make sure your app works like you think. After that executes, it runs `posttagVersion`, which just does `npm run build && npm publish dist`.

Also, good to hear about `colorize`. I added running `node ./node_modules/angul

[2017-07-26 13:45] tommueller commented on #59
Okay one step further :) The `Cannot find module`-error is now gone. But now it does not correctly install my peerDependencies anymore ...
In the package.json in the dist-folder the peerDependencies entry is now duplicated!

Also I have one last entry in my package.json which contains an old link to `OldPackageName.js`, it's called `"jsnext:main": "./old-package-name.js",` is that critical?

[2017-07-26 13:53] gonzofish commented on #59
`"jsnext:main"` can be removed. Once this was all working, I was going to write up a migration doc which would talk about removing that.

Can I see the generated `package.json` so I can determine what might've happened? If you don't want to publish your library, you can do the following to test it:

1. Create a `@<scope name>/<library name>`  directory in your CLI project's `node_modules`
2. Build

[2017-07-26 13:54] gonzofish commented on #59
I just tried to `ng build --prod --aot` and it failed... 😢

[2017-07-26 13:59] tommueller commented on #59
Oh no :)

Btw. I get a lot of these warnings while building the project
[code]

[2017-07-26 14:00] tommueller commented on #59
This is the `package.json` (only the duplicate peerDependencies part)

[code]

[2017-07-26 14:06] gonzofish commented on #59
I bet what happened is this: the `package.json` is transformed when its copied from the library root to `dist`. It gets copied, we replace `"dependencies"` with `"peerDependencies"`. Again, something to be put into migration docs.

What you can do is modify the real `package.json` in the library's root directory:

1. Remove the `dependencies` that `angular-librarian` added, but make sure all of th

[2017-07-26 14:09] tommueller commented on #59
I was just editing the comment:
figured it out, the first peerDependencies entry is the original dependencies entry ... why to you replace dependencies with peerDependencies? shouldnt this be handled by the user?

[2017-07-26 14:09] gonzofish commented on #59
Those `No name was provided...` are also even more documentation. What's happening is we now use Rollup, but Rollup doesn't always know how to handle external libraries (like `@angular/material` or `ngx-webstorage`).

If you open `tasks/rollup.js`, look at lines 18-25. Add the libraries it's talking about in `No name was provided...` in a similar fashion. Hope that helps.

[2017-07-26 14:15] gonzofish commented on #59
Here's why: when we publish a library, we want to consuming app/library to be in charge of the versions of dependencies so that project-wide, all other libraries/dependencies use the same version. We wouldn't want to specify `"@angular/core": "4.1.3"` and another project to specify `4.2.2`. It'd cause multiple versions of `@angular/core` to be installed. `peerDependencies` affords the ability to s

[2017-07-26 14:22] tommueller commented on #59
Ok. I was just able (after dirty-fixing the peerDependencies) to import the lib into CLI-project and successfully run `ng build`, `ng test` and `ng serve`.

[2017-07-26 14:25] tommueller commented on #59
concerning the peerDependencies. As far as I understood, you have to have them both as dependencies and peerDependencies because npm does not install peerDependencies automatically anymore.

And that solves my problem, because then can just remove my peerDepencies entry, because they are duplicated in depencies anyway. So instead of replacing dependecies with peerDependencies you should copy it, I

[2017-07-26 14:31] gonzofish commented on #59
What are you suggesting be copied?

[2017-07-26 14:33] tommueller commented on #59
Copy the dependencies and insert them both as `dependencies` and `peerDependencies`. otherwise they will not automatically be installed on the consuming package. See the link above.

[2017-07-26 14:34] tommueller commented on #59
allright. my project is up and running again (right now I still have to manually repair the `package.json` in the dist-folder, but thats a minor thing) and I will use this rare opportunity to go off into my holidays :)

thanks a lot for the support! and see you in 2 weeks!

[2017-07-26 14:45] tommueller opened #61 "Build fails but does not leave with error"
I wrote this here #59 already, but I think it will be overseen:

A second issue is, that the `npm run g build` fails, but the CI does not break, but runs through and reports to be successful. Is there maybe a process.exit(1); missing somewhere?

[2017-07-26 14:54] tommueller commented on #59
also failed for me :sob:

[2017-07-26 15:05] filipesilva commented on #59
Heya, just wanted to chime in: you *definitely* don't want to add `@angular/*` dependencies as both `dependencies` and `peerDependencies`. Instead you want to add them as `dependencies` and `peerDependencies`.

This is important because you really don't want to ever have two copies of them. It's true that if you don't have them in dependencies you aren't guaranteed to have them installed in the co

[2017-07-26 15:11] gonzofish commented on #59
Hey @filipesilva, thanks for chiming in! The idea is that the published module will have `peerDependencies` while, during development, they'll be `dependencies` to more easily facilitate said development. I actually got the idea from that guide you linked!

[2017-07-26 15:26] filipesilva commented on #59
Heya @gonzofish 👋

I think your approach is good, I was replying to @tommueller's https://github.com/gonzofish/angular-librarian/issues/59#issuecomment-318071811.

[2017-07-26 15:33] gonzofish commented on #59
Got it, by the way, thanks for that document as well as your [filipesilva/angular-quickstart-lib](/filipesilva/angular-quickstart-lib) those two things helped me big time in better understanding how to structure Angular projects

[2017-07-26 15:41] filipesilva commented on #59
Very happy to hear you found it useful! It took me a while to get my head around it as well, it's not very straightforward but there's definitely a reason for everything.

[2017-07-26 15:45] nvdnkpr commented on #59
@gonzofish Sorry for my late reply, I'm currently finishing a project so if I get to it in time I'll rework through the work you and @tommueller have done so far to give you feedback.

[2017-07-26 15:49] gonzofish commented on #59
Hey, no problem @nvdnkpr! You're doing me a favor. Any additional feedback is great, but no worries

[2017-07-26 23:14] gonzofish commented on #59
@tommueller I've just discovered what the issue was with running `ng build --prod --aot`

The `flatModuleId` to in my `tsconfig.es5.json` & `tsconfig.es6.json` files was wrong. Instead of being `@myscope/scoped-lib` it was just `scoped-lib`. This was not correct. I'll fix it tonight...if you're able to (I know you're on vacation) or @nvdnkpr, you'd like to try it once I update, let me know your fi

[2017-07-27 12:57] gonzofish commented on #59
For anyone interested, the following package--produced using Angular Librarian--works with the CLI: https://www.npmjs.com/package/@angular-librarian/scoped-lib

[2017-08-01 14:06] stevermeister commented on #51
@gonzofish
it works!
thank you very much!
sorry for delay, did not have time to check and update the app.

[2017-08-01 16:13] gonzofish commented on #51
Excellent! I'll merge it in when I finish up the testing branch

[2017-08-01 21:32] gonzofish commented on #59
I'm confident this is working, so I'm going to close. If anyone would be interested in testing for me, please point your angular-librarian install to the master branch:

[code]

And run through the motions. If you reinitialize your project, make sure that you set angular-librarian back to the master branch and redo `npm install`!

[2017-08-01 21:32] #59 closed

[2017-08-01 21:38] gonzofish commented on #7
Still missing testing of the scaffolded files for init, but that's an arduous job...we'll need to figure out a smart way of doing it

[2017-08-01 21:38] #7 closed

[2017-08-02 14:17] gonzofish opened #62 "Upgrade is Failing"
I'm stupid and didn't manually test this feature. As a result, of course, it's broken. I know how to fix it...

[2017-08-02 14:31] gonzofish commented on #62
Fixed by 69ab54f

[2017-08-02 14:31] #62 closed

[2017-08-02 17:05] gonzofish opened #63 "Yarn support"
Some people like to use yarn. Let's make yarn an option.

[2017-08-02 17:05] gonzofish opened #64 "Jest support"
Jest is a pretty fast testing framework and, from my quick use, it's an absolute delight. I think supporting Jest would be awesome

[2017-08-02 17:44] gonzofish opened #65 "Need Migration Documentation"
Need to create migration docs from version to version. Especially for the v1 release, so that no one is experiencing headaches because of easily avoidable stuff

[2017-08-02 17:45] gonzofish commented on #61
I've added some code that may help with the false positives you're experiencing, but I cannot be sure

[2017-08-02 18:51] gonzofish opened #66 "Need a safer way of managing the angular-librarian version"
When we upgrade librarian, the template package.json needs to stay inline with the newest version...problem is, it doesn't, should be a template variable?

[2017-08-02 18:54] gonzofish commented on #66
If you upgraded to 1.0.0-beta.12, you'll need to manually re-install angular-librarian beta.12 because the package.json template is set to beta.11

[2017-08-02 21:42] gonzofish opened #67 "RxJS Rollup Issues"
I think Rollup doesn't handle how RxJS does it's includes, so I need to see if: https://github.com/IgorMinar/new-world-test/blob/master/es6-or-ts-bundle/rollup.config.js works to mitigate the issue

[2017-08-04 18:18] gonzofish commented on #67
79d27fa closes

[2017-08-04 18:18] #67 closed

[2017-08-04 18:18] gonzofish commented on #66
Closed by all the above

[2017-08-04 18:18] #66 closed

[2017-08-04 18:19] gonzofish commented on #65
Started a migration docs as of beta.12

[2017-08-04 18:19] #65 closed

[2017-08-09 07:17] tommueller commented on #59
Sorry I have not been online the last 2 weeks! Thanks for the great work and finishing up on this! I will go on trying the upgrading ASAP.

[2017-08-09 07:18] tommueller commented on #63
:+1:

[2017-08-09 07:26] tommueller opened #68 "[Migration] rollup-plugin-node-resolve is missing"
After running `ngl upgrade` from the scoped-branch I get an error running `ngl build` (`ngl serve` works fine!). after running `npm install --save rollup-plugin-node-resolve` the issue is solved.

[2017-08-09 07:36] tommueller opened #69 "[Migration] dahToCamel is not a function"
sadly I get another bug during the upgrade to the latest release ... after fixing #68 the build breaks now during the "rollup-stage". maybe another rollup-dependency that's missing?

    at rollupBundles (/home/tom/workspace_angular/ng-core/tasks/build.js:51:29)
    at /home/tom/workspace_angular/ng-core/tasks/build.js:26:16

[2017-08-09 07:37] tommueller commented on #69
Sorry: https://github.com/gonzofish/angular-librarian/blob/master/MIGRATION.md

[2017-08-09 07:37] #69 closed

[2017-08-09 08:27] tommueller commented on #60
I saw the comment that this was supposed to be working now, using the -x flag. I do not find any changes in the output of the build project afterwards. Can you maybe give some info on this?

[2017-08-09 10:27] tommueller opened #70 "[Migration?] Lodash methods are not getting exported from the library"
I use a couple of lodash functions in my library, which is not working in the consuming angular-cli project. I get `undefined is not a function` in all the places where lodash-functions are used.

During the build of the angular-librarian project I get a lot of these warnings:

'clone' is not exported by 'node_modules/lodash/lodash.js'
'isNumber' is not exported by 'node_modules/lodash/lodash.js'

[2017-08-09 11:11] tommueller commented on #70
I was able to fix this by adding lodash as external and global to the rollup.config.js. But shouldn't rollup check by itself that these functions are used and bundle them into the package?

[2017-08-09 12:32] gonzofish commented on #60
Ah, the `--example`/`-x` option is only for generating components/services/etc. to your `examples` directory, it doesn't change the library output yet.

[2017-08-09 12:33] gonzofish commented on #70
Rollup doesn't do that, you have to specify them yourself, so that it can understand them. That's why those sections are part of the custom configuration now.

[2017-08-09 12:34] gonzofish commented on #69
Yeah, I blew it on that one. Sorry about that...thought I had tested all functionality.

[2017-08-09 12:38] gonzofish opened #71 "Run `install` & `update` at end of an upgrade"
Since dependencies may change, running these two methods is a good idea

[2017-08-09 12:38] gonzofish commented on #68
Yeah, in the migration guide, I'll add that running `npm install` & `npm update` after is a good idea. I'll also update the `upgrade` script to run those methods in the future

See #71

[2017-08-09 12:38] #68 closed

[2017-08-09 13:03] tommueller commented on #70
I thought rollup does treeshaking? At least it says so here: https://rollupjs.org/

[2017-08-09 13:04] tommueller commented on #60
Nothing is added to my examples folder if I run `ngl build -x`

[2017-08-09 13:59] gonzofish commented on #60
there isn't an example option for `ngl build`, [per the documentation](https://github.com/gonzofish/angular-librarian/blob/master/README.md#build).

Like I said in my last comment, `--examples`/`-x` are only for generating the following:

- [Components](https://github.com/gonzofish/angular-librarian/blob/master/README.md#component)
- [Directives](https://github.com/gonzofish/angular-librarian/blob

[2017-08-09 15:27] tommueller commented on #60
Ah, well I think the vacation did some minor damage to my brains, got it, sorry ...

[2017-08-10 22:46] tobi-or-not-tobi commented on #42
Sorry for a late reply here @gonzofish. I haven't been here for a while. I'm not sure if I got your question right, but I'll give it a try.

I'm used to create projects using the angular CLI. While I'm building an app, i'm organizing components into several modules. A module might have multiple components and services, but soon enough I try to make things reusable and they are moved into their own

[2017-08-15 00:30] gonzofish commented on #42
Hmm, interesting comments. So in your preferences, where would the initial module live? Would it be something like `./src/my-module/`? A recent addition for scoped packages may help facilitate this...

We could add an option to project initialization `ngl init --module=my-module` which would add that `my-module` folder? So the structure would load up like this:

[code]

This would actually assist

[2017-08-15 13:27] tommueller commented on #61
Still having this issue, but I think it is more a gitlab-ci / npm problem, so I will close this.

[2017-08-15 13:27] #61 closed

[2017-08-15 15:18] tommueller commented on #61
I was able to fix the error by changing my command from `npm run g test` to `npm test`.

[2017-08-15 16:08] gonzofish commented on #61
Ahhhh, good to know! Thanks, that makes perfect sense.

[2017-08-22 11:36] tommueller commented on #36
any plans to implement this at any points? Just tried to figure this out, but I am too far behind with all the webpack stuff ...

[2017-09-11 12:45] litzebauer opened #72 "Rollup Configuration"
Is it possible to handle Rollup external and globals better in the config?  Explicitly having to call out each external dependency is cumbersome.  Could the script dynamically read from package.json dependencies? Or is there a different way to handle it in Rollup?

[2017-09-11 13:48] gonzofish commented on #72
As far as I know, there's really not an easier way, that I know of, to do this. If you look around at other projects, you'll see all of the libraries doing something similar; for example, here's [the Material team explicitly listing their globals](https://github.com/angular/material2/blob/4168fb39db770c977bb2bf36336de6b05d38ef9f/tools/package-tools/rollup-globals.ts#L16) and [then using them to ge

[2017-09-11 13:54] gonzofish commented on #70
@tommueller sorry I'm so tardy on responding to this--Rollup _does_ do treeshaking, but you have to specify your external libraries. The whole reason we're using Rollup now is so that 3rd party dependencies (such as Lodash) aren't bundled into your library's code. When you specify `external` & `globals` you're letting Rollup know that it can shake this code out of the bundle and, where it's refere

[2017-09-11 13:54] #70 closed

[2017-09-11 14:05] litzebauer commented on #72
Hmm, I can see this becoming a problem for people not as well versed in
rollup working on libraries and forgetting to modify that config.

On Mon, Sep 11, 2017, 9:48 AM Matt Fehskens <notifications@github.com>
wrote:

[2017-09-11 14:08] gonzofish commented on #72
I get what you're saying and I can add some support docs for helping mitigate common issues. But it really is a necessary part of the build process.

[2017-09-11 14:17] litzebauer commented on #72
Maybe a postinstall hook that outputs a warning to update the rollup config
if you are adding a 3rd party dependency.

On Mon, Sep 11, 2017, 10:08 AM Matt Fehskens <notifications@github.com>
wrote:

[2017-09-11 14:41] gonzofish commented on #72
Not a bad idea...PR 😄?

[2017-09-11 15:17] tommueller commented on #70
Thanks Matt, I already got this working. Thanks for the clarification though!

[2017-09-11 19:12] litzebauer commented on #72
sure

On Mon, Sep 11, 2017 at 10:41 AM Matt Fehskens <notifications@github.com>
wrote:

[2017-09-12 12:10] tommueller commented on #60
I have been quite silent lately, but that is just because using angular-librarian is working like a breeze for our projects!

This is the only feature I am really missing! Maybe this could be done anytime soon? :1st_place_medal:

[2017-09-12 13:10] gonzofish commented on #60
Glad it's working for you--I'm trying to catch back up (had some family emergencies over the past month)

[2017-09-12 13:56] gonzofish opened #73 "Add a Quicker Builds"
It would be helpful to have build scripts that allowed republishing without the long running time that [`np`](https://github.com/sindresorhus/np) comes with by default. Here are the new build types to add:

- `release no-cleanup`: skips cleanup of `node_modules`
- `release yolo`:  skips cleanup of `node_modules` & testing

These are actually the names that the `np` project uses, being co-opted for

[2017-09-13 10:35] tommueller commented on #60
Great thanks! Hope everything is alright!

[2017-09-15 17:29] w4lt-dev commented on #36
Hi,

I am also new to the webpack stuff, after some trying I think I get it to work for me.
I use two webpack plugins:
[code]

webpack.dev.js
[code]
build.js
[code]
For the webpack dev server all files are copied from `examples/assets` to `dist/examples/assets` and from` src/assets` to `dist/assets`.
The build copies from `src/assets` to `dist/assets`.

[2017-09-15 18:23] litzebauer opened #74 "Documentation generation"
Use Compodoc to generate documentation from source.  I can do a pull request when I get a chance if you'd like.

[2017-09-29 23:42] gonzofish commented on #73
Added with 44319c6

[2017-09-29 23:42] #73 closed

[2017-09-30 00:14] gonzofish commented on #72
I updated the list with the huge list of defaults from [ng-packagr](https://github.com/dherges/ng-packagr) via 95eb2bf

[2017-09-30 00:14] #72 closed

[2017-11-07 14:11] tommueller opened #78 "Build breaks after upgrade to angular 5"
I cannot build my library anymore after upgrading to angular 5. I breaks with the following message:

    at module.exports (/home/tom/workspace-angular/ng-core/node_modules/minimist/index.js:44:14)
    at readNgcCommandLineAndConfiguration (/home/tom/workspace-angular/ng-core/node_modules/@angular/compiler-cli/src/main.js:66:41)
    at main (/home/tom/workspace-angular/ng-core/node_modules/@angul

[2017-11-08 13:34] matthiaskern opened #80 "npm pack using wrong path with scoped package"
First of all, great project! Thank you for publishing this!

I've noticed that `npm pack` and in the end `npm publish` try to use a path without `@` and thus fail. This can be reproduced with a new install and a name like `@scope/library`.  Renaming the `@scope` folder inside `/dist` to `scope` solves the issue.
Could this be an npm issue? All paths inside `package.json` seem to be correct.

[code

[2017-11-08 13:39] matthiaskern commented on #80
I've noticed this only after trying `npm run tagVersion` failing with that, and trying to do it manually. Seems like `np` has problems with scoped packages at the moment. I had similar problems as described in here https://github.com/sindresorhus/np/issues/190

[2017-11-08 13:50] gonzofish commented on #80
This is interesting, thanks for bringing it up.

I've published a scoped package before to test (it's [located here](https://www.npmjs.com/package/@angular-librarian/scoped-lib)), but I'll give it a go again since it hasn't been done in 3 months

[2017-11-08 14:06] gonzofish commented on #80
You're right, there seems to be something odd happening with `np`, I'll see if I can work around it

[2017-11-08 14:27] gonzofish commented on #80
I think NPM is the issue, as you first mentioned: https://github.com/npm/npm/issues/18658

[2017-11-08 14:29] gonzofish commented on #80
I'd say, if you can (for now), roll back to 5.3 and [wait for this fix](https://github.com/npm/npm/pull/19033) to land

[2017-11-08 14:31] gonzofish commented on #78
are you publishing a scoped package?

[2017-11-08 14:36] matthiaskern commented on #80
:+1: Thanks for the help with investigating

[2017-11-08 14:48] gonzofish commented on #80
Not a problem, I'm a little surprised that NPM has such a bug--but it is just software, so it happens

[2017-11-08 16:00] tommueller commented on #78
yes it is scoped.

3.10.10

#v6.11.5

it breaks in the call of ngc though, because it cannot read the args using minimist ... I tried to understand it, but was lost pretty fast ;)

[2017-11-08 19:12] gonzofish commented on #78
ok, there seems to be a bug with scoped packages in NPM 5, which is why I asked--but you're using 3 so its a moot point. I'll try my best to figure it out.

[2017-11-09 14:05] gonzofish commented on #78
Btw, any idea what the file `src/main.js` could be?

[2017-11-09 14:15] tommueller commented on #78
Ah yes, sorry. Quoting in github removed it because of the '@' before angular. It is in the compiler-cli

[2017-11-09 14:20] gonzofish commented on #78
Ah, ok, perhaps the CLI changed in 5? I haven't worked with 5, nor is Librarian v5-tested, so I can't speak to what's going on there

[2017-11-09 14:27] tommueller commented on #78
Yes, I upgraded to v5 and isung compiler-cli@5.0.0

I could not find any documentation on how to use the compiler-cli from code ...

Do you have any plans on diving into this? Otherwise I will try to find out stuff.

[2017-11-09 14:46] gonzofish commented on #78
I do have plans to, but I'm going to get a v1 of Librarian released first
with what exists for now and that will be part of a 1.1 release

On Thu, Nov 9, 2017 at 9:27 AM Tom Müller <notifications@github.com> wrote:

[2017-11-09 15:44] tommueller commented on #78
Ok, I am not really in hurry. If I find time, I will try to find some info and post it here.

Cheers!
Tom

[2017-11-09 15:50] gonzofish commented on #71
be162c5 provides this enhancement

[2017-11-09 15:50] #71 closed

[2017-11-09 18:04] tommueller commented on #78
Well I figured out that it seems to breaking in this line

because ngc now takes 3 arguments _args, consoleError, config_ now treats this config as args, which cannot be parsed by minimist since it is not a string object.

I tried playing around with calling something like:

to tell ngc to use this as config, but then other config options are missing, I also tried:

to run into the parsing of _arg

[2017-11-09 18:31] gonzofish commented on #78
At first look, it seems that there isn't much of a change.
- [Here it is in the 2.4.x branch](https://github.com/angular/angular/blob/2.4.x/modules/%40angular/compiler-cli/src/main.ts#L26)
- [Here it is in the trunk](https://github.com/angular/angular/blob/master/packages/compiler-cli/src/main.ts#L25)

Have you tried passing as an array? Like:

[code]

From the source `args` is `string[]`

[2017-11-09 18:33] gonzofish commented on #78
You should also be able to pass in an empty array for `args`--I think

[2017-11-09 20:15] litzebauer commented on #78
@gonzofish Its a little more than that because it doesn't return a promise anymore either.  I should have a fix soon

[2017-11-09 22:31] gonzofish commented on #78
@tommueller according to @litzebauer your fix should be available on master

If you want to test-run it, point Librarian to git+https://github.com/gonzofish/angular-librarian in your `package.json` and run `ngl up`

If it works for you, you can close the issue

[2017-11-10 13:55] litzebauer commented on #80
I'm having an issue with np too and I don't have scoped package.  Getting `spawnSync np ENOENT`

[2017-11-10 14:07] litzebauer commented on #80
If I install `np` globally and run `np --yolo --no-yarn` it works so its something with the way angular-librarian is calling `np`

[2017-11-10 14:26] gonzofish commented on #80
Are you certain that `np` is installed in your local project? Something like an `ENOENT` is not the same as the issue here

[2017-11-10 14:32] litzebauer commented on #80
Yes I am certain it is installed in the local project.  It might be the same issue because @matthiaskern `npm run tagVersion` fails.

[2017-11-10 15:17] gonzofish commented on #80
@matthiaskern is failing after `np` has finished and the `build` script has finished running because NPM > 5.3.0 is stripping special characters (in this case the @ symbol)

[2017-11-10 15:39] litzebauer commented on #80
Ok,  I guess I need to open a new issue.

[2017-11-10 15:39] litzebauer opened #82 "npm run tagVersion fails"
Getting `spawnSync np ENOENT` error

[2017-11-10 15:46] matthiaskern commented on #80
I was hit by two issues, first of all `npm run tagVersion` with `yarn` failing, it removed dependencies before running the tests, but that's already described in the `np` repo. Then when I tried manually I noticed the other issue you found above with `npm` itself. `npm run tagVersion -- --yolo` might work, but I can't try it out right now.

[2017-11-10 15:48] gonzofish commented on #82
would you mind providing your versions of Librarian & NPM?

[2017-11-10 15:53] litzebauer commented on #82
npm version: 3.10.7
angular-librarian is from master

I didn't realize my NPM was so old.  I'll try upgrading and report back

On Fri, Nov 10, 2017 at 10:48 AM Matt Fehskens <notifications@github.com>
wrote:

[2017-11-10 15:56] gonzofish commented on #82
Not a problem--I can't see NPM that old being the problem, but let me know

[2017-11-10 16:08] litzebauer commented on #82
With npm 5.5.1 I get
[code]

[2017-11-10 19:24] litzebauer commented on #78
My PR allows the build to succeed but now consuming that library from another angular-librarian library is resulting in `Please add a @NgModule annotation.` errors

@tommueller Have you had any luck?

[2017-11-10 19:58] tommueller commented on #78
No, sorry. Will also probably not have time to look into this until Wednesday. Thanks for almost fixing it ;)

[2017-11-10 20:29] litzebauer commented on #78
Looks like `index.js` and a metadata file for index is not generated in the dist directory.  There's just a `index.ts` file.  I wonder if this is the problem.  In my project using an older angular-librarian there is an `index.js` and `index.metadata.json`.

[2017-11-10 20:36] gonzofish commented on #78
Good catch, I'll try to look into this weekend if you don't figure it out

On Fri, Nov 10, 2017 at 3:29 PM Jeremy Litzebauer <notifications@github.com>
wrote:

[2017-11-10 21:21] litzebauer commented on #78
Thanks @gonzofish  Here's what I've looked into:
- All the tsconfig files point to index.ts.
- Went back to Angular 4.4.x and `index.js` and `index.metadata.json` isn't generated
- Created a library from scratch using master, built it and only index.d.ts is in dist

Looks like this last issue doesn't have to do with Angular 5 and has something to do with one of the commits made to master since the

[2017-11-13 22:43] litzebauer commented on #78
@gonzofish  Did you get a chance to look at this at all?

[2017-11-14 02:10] gonzofish commented on #78
I haven't been able to--new job started today and I had a busy weekend. I'll try to get to it sometime this week

[2017-11-14 19:47] litzebauer commented on #78
I fixed this last issue.  Typescript was set to ^2.4.0 which caused 2.6.x to be pulled in causing decorators not to be written out.  Angular 5 migration guide says set Typescript to 2.4.2 which is what I did and the decorators are back.  @tommueller can you close this issue once you give it a try?

[2017-11-14 19:49] gonzofish commented on #78
Excellent ! Thanks for fixing it
On Tue, Nov 14, 2017 at 2:47 PM Jeremy Litzebauer <notifications@github.com>
wrote:

[2017-11-14 22:37] tommueller commented on #78
@litzebauer that's great news! will give it a try tomorrow and report back! thanks for the work!

[2017-11-16 08:36] tommueller commented on #78
Sorry took a day longer, but now I am on it.
So far it was not straight forward to get it working, because after running `ngl upgrade` the merging of the two `package.json`-files gave me a lots of broken peerDependencies, as I had a funny mix of @angular ^4.0.0 and ^5.0.0 versions.

After fixing this it now compiles but breaks with an error, that I did not get before ...

 /home/tom/workspace-angu

[2017-11-16 13:27] litzebauer commented on #78
@tommueller I haven't seen that issue.  Is that being thrown from angular-cli?

[2017-11-16 14:25] tommueller commented on #78
This is the whole error-stack:

[code]

[2017-11-16 19:07] litzebauer commented on #78
Is this in your library when running `npm run build`?

On Thu, Nov 16, 2017 at 9:25 AM Tom Müller <notifications@github.com> wrote:

[2017-11-20 13:08] tommueller commented on #78
@łitzebauer
`ngl build` and `npm run build` result in the exact same error and output.

[2017-11-23 09:03] tommueller commented on #78
Seems to be an error in the `compiler-cli` that is supposed to be fixed ... https://github.com/angular/angular/issues/18867

[2017-11-23 09:31] tommueller commented on #78
Okay, the problem is really in the specific HTML-escape function, removing it makes the build run through succesfully! I will close this then. Will there be a new release incorporating this soon?

[2017-11-23 09:31] #78 closed

[2017-11-23 09:35] tommueller opened #84 "Librarian reports false unused module"
Building my library with angular 5 leads to a warning (maybe this could actually be in yellow, instead of red?) letting me now `'MatSelect' is imported from external module '@angular/material' but never used`, which is not true, I do use this module in one of my components!

[code]

[2017-11-24 02:21] agasbzj opened #85 "Dependencies are always added as peer dependencies"
Thank you for your hard work to create such a greate build lib. I noticed that all the dependencies I added to "dependencies" in package.json file were all added in "peerDependencies" in the distribution package.json file.  If I want to add dependencies in "dependencies", do I have to manually modify the built package.json file everytime or there is a option when adding dependencies as prod depend

[2017-11-24 14:19] gonzofish commented on #85
First, thank you for the kind words.

Yes you would, but **I would advise against that**. The reason we use peerDependencies is intentional. The end user of your library (even if its you) should be in charge of what versions of each library it packages. When you use `dependencies` you could end up with multiple versions of Angular if, for instance, your library specified 4.4.3 of `@angular/compile

[2017-11-24 14:19] #85 closed

[2017-11-24 14:20] gonzofish commented on #84
You're just using `MatSelect` as a type so, unless you instantiate it elsewhere in `DropdownComponent`, in the compiled code, there is no usage of `MatSelect`.

[2017-11-24 14:21] gonzofish commented on #78
I'll try to get a 1.0.0 release out the door soon

[2017-11-27 08:53] tommueller commented on #84
Well I use it as a component as part of the template ... but this is just a warning, right? I can just ignore it I guess.

[2017-12-05 10:27] WouterSpaak opened #86 "Upgrading to rollup 0.52.1"
Angular Librarian currently does not support rollup 0.48+, which is a shame because it has many tree shaking improvements.

I got this working on an internal module of ours. I will file a pull request to upgade Angular Librarian to rollup 0.52.1 in a few hours when I test it on a brand new project. Most of the changes have to do with this document: https://gist.github.com/Rich-Harris/d472c50732dab

[2017-12-05 13:37] #86 closed

[2017-12-05 13:39] gonzofish commented on #86
As I said in the PR, thanks for this PR. Really is a big help and I think the last item before doing v1.0.0

[2017-12-05 13:45] WouterSpaak commented on #86
You're quite welcome. We've had a lot of success with Librarian so I'm happy to help! Looking forward to 1.0.0!

[2017-12-11 12:47] tommueller commented on #78
sorry for being all over you all the time @gonzofish but is there an eta on the 1.0.0? would love to finally "officially" upgrade to angular 5.

Cheers!

[2017-12-12 15:21] sameh-amin commented on #78
yes please, i have already upgraded to angular 5 and i am stucked now.

Thanks :)

[2017-12-12 15:28] gonzofish commented on #78
Hey, sorry for the delay--I haven't had time to put the 1.0 delivery together yet. I need to do some testing & upgrading to 5 before I can release it. Again, sorry for the delay!

[2017-12-17 01:35] gonzofish commented on #78
Just an FYI, I'm trying to get this 1.0.0 done but I'm running into major issues with publish...`np` just seems to not want to let tasks finish before it thinks its done

[2017-12-18 03:03] gonzofish commented on #78
@tommueller I was able to get `np` working but it introduces another, potentially more concerning problem...

Angular 5 wants RxJS `^5.5.0`
NP can't work with any version past `5.4.3`

Angular 5 will work with `5.4.3` but every time you install you'll get warnings about not having the right `peerDependency` installed...I'm not really sure what to do here, maybe @litzebauer has an opinion?

[2017-12-18 03:18] litzebauer commented on #78
Why can't `np` work with `rxjs`. Since `np` hasn't be working in
angular-librarian, I installed it globally and it had been working fine.

On Sun, Dec 17, 2017, 10:03 PM Matt Fehskens <notifications@github.com>
wrote:

[2017-12-18 03:21] gonzofish commented on #78
np wants 5.4.3. Anything past that breaks how tasks are run in np. The
reason it works globally is because the global and your library’s versions
of RxJS are separate. I suppose we can make a global install of np be the
new standard for librarian?
On Sun, Dec 17, 2017 at 10:18 PM Jeremy Litzebauer <notifications@github.com>
wrote:

[2017-12-18 13:00] litzebauer commented on #78
Yeah I guess that would be fine.

On Sun, Dec 17, 2017 at 10:21 PM Matt Fehskens <notifications@github.com>
wrote:

[2017-12-19 12:27] gonzofish commented on #82
`tagVersion` should be working now

[2017-12-19 12:27] #82 closed

[2017-12-19 12:29] gonzofish commented on #80
@matthiaskern I think you should be good with the 1.0.0 release. We needed to move the `np` library out of project dependencies to support using it (see [the migration guide](https://github.com/gonzofish/angular-librarian/blob/master/MIGRATION.md))

[2017-12-19 12:29] #80 closed

[2017-12-19 12:31] gonzofish commented on #84
@tommueller I don't believe that using it as type information is enough for it to be considered "used" but that's more of a TypeScript/TSLint issue than Librarian

[2017-12-19 12:31] #84 closed

[2018-01-09 10:59] tommueller opened #88 "[Migration] ngl build fails - Unexpected token ..."
Thank you @gonzofish for finishing the release! Sorry I haven't posted any feedback, but I was not working during the Christmas and New Years festivities.

The upgrade went pretty smoothly, and I can successfully use `ngl serve` and `ngl test`. `ngl build` however fails, giving me the following error:

[code]

Do you have any idea what breaks the code? Cheers and happy new year!
Tom

[2018-01-09 11:45] gonzofish commented on #88
happy new years to you as well! what version of Node (not NPM) are you using? I was able to build both scoped & un-scoped packages

[2018-01-09 11:52] tommueller commented on #88
thanks!

[code]

[2018-01-09 12:42] gonzofish commented on #88
I would try to update your version of Node to 8, seems like the spread operator with objects isn't supported before version 8:

http://node.green/#ESNEXT-candidate--stage-3--object-rest-spread-properties

I'll make a note in [MIGRATION.md](https://github.com/gonzofish/angular-librarian/blob/master/MIGRATION.md) once we know its working for you

[2018-01-09 13:38] litzebauer commented on #88
Yes, I had this same issue and I upgrade to Node 8 and no more error.

On Tue, Jan 9, 2018 at 7:42 AM Matt Fehskens <notifications@github.com>
wrote:

[2018-01-09 13:41] tommueller commented on #88
@gonzofish 👍 solved it! Running into another issue though, but I'll open a new issue for it, to keep this clean over here!

[2018-01-09 13:43] tommueller opened #89 "[Migration] Rollup bundling fails with: Cannot read property 'slice' of undefined"
As I mentioned here I ran into another bug after fixing the node-version problem https://github.com/gonzofish/angular-librarian/issues/88#issuecomment-356261787

The build fails now when rollup is executed with:

[code]

[2018-01-09 16:23] gonzofish commented on #89
On line 73 `rollup.rollup(config)` is called--what does `config` look like when you run build?

[2018-01-10 09:42] tommueller commented on #89
Ok, I fixed the error accidentally by changing the code to log the config ... adding curly braces around the `rollup.rollup(config)`-call fixed it ...

[code]

Now I only get some warnings:
[code]

[2018-01-15 11:20] tommueller commented on #89
I tested more today and also upgraded the project to Angular 5.2.0 and now the export works with my mentioned changes ... I think the it works regardless of the Angular update, as I did not publish the library correctly, but here is my current state in more detail:

- I cannot get this working with your release oob
- Using the upgraded rollup version and changed paths I can compile and use the lib

[2018-01-15 14:06] tommueller commented on #89
Ok, I give up ... After some more work on the project the build failed again and I had to reset the paths of `es5Dir` and `es2015Dir` back to your version ... Right now I use the latest rollup version and it works with your code. I have no idea what I changed though ...

[2018-01-16 09:06] ovione opened #93 "git workflow for libraries"
hi

I was wondering what is the git workflow when creating libraries ?

If I have a library that uses angular 4.x and the same library that uses angular 5.x

should they be in the same repo in different branches or in different repos ?
I would like to have opinions about this.

For application development I use git workflow http://datasift.github.io/gitflow/IntroducingGitFlow.html..
Is there simil

[2018-01-16 11:58] gonzofish commented on #93
I'm sure it's frustrating that there isn't clear guidance on how such things should be done, but this is really a Librarian-specific (or even Angular-specific) question, so I'm going to close it. Sorry.

[2018-01-16 11:58] #93 closed

[2018-02-03 15:35] SirDarquan commented on #89
I ran into this problem a couple days ago as well. To see if there was a problem with ngl, I created a brand new empty library and performed a build. Of course it worked perfectly which led me to wonder what was different about my real library. To make a long story short, the package-lock.json was keeping specific versions of packages that ngl relied on at pre-update versions. It's designed to do

[2018-02-03 16:02] SirDarquan opened #94 "What is the roadmap for angular-librarian?"
First, I want to give my thanks for creating such a great library that fulfills a sorely missing need in angular development. This helped me add the needed AOT functionality to my library that users were seeking. But I'm not here to plug that. What I'd like to do is open a discussion on where this library is going and the plan to get there.

I completely get that this may be a "temporary" solution

[2018-02-03 18:40] gonzofish commented on #89
Thank you so much for figuring this out! I’ll see if I can investigate and
give an official solution. In the meantime I’ll put a note in the migration
document.
On Sat, Feb 3, 2018 at 10:35 AM SirDarquan <notifications@github.com> wrote:

[2018-02-04 17:56] gonzofish commented on #94
@SirDarquan absolutely makes sense! No one wants to contribute to a project that's dead. I'm about to start a family myself so I understand the time commitment issues more than ever.

Librarian is in sort of a "haven't heard any complaints" mode. We had one bug, which I hadn't been able to crack (#89, but you did, thanks again) but other than that, since the 1.0 release, I have heard no chatter. I

[2018-02-04 18:02] gonzofish commented on #89
Btw, I've added a note to the [MIGRATION.md](https://github.com/gonzofish/angular-librarian/blob/master/MIGRATION.md) file with @SirDarquan's mitigation

[2018-02-04 18:22] SirDarquan commented on #94
Cool, I appreciate that. I'll close this and create some issues that address the things I needed to do to hack using a selenium grid providers.

[2018-02-04 18:22] #94 closed

[2018-02-04 18:46] SirDarquan opened #95 "Make adding Karma plugins easier"
angular-librarian uses the 'plugins' property to define the plugins it needs to use for testing. Normally when testing with karma, the system will find anything in the node_modules folder that starts with karma- and make it part of the testing automatically. I think I see the problem you're trying to solve though. If the developer needs a custom plugin, they must add it to this array but if it doe

[2018-02-04 19:15] SirDarquan opened #96 "Watching tests shouldn't restrict browser choices"
Currently, running tests has three options: Headless, Watch and All. I can do a headless test, which seems to be meant for CI environments. I can watch tests and the Chrome browser will open and continuously retest as I develop. All will test in both Chrome and Headless for a single run.  There also the default, but that is just the Headless configuration. While convenient, his actually causes a f

[2018-02-05 14:01] gonzofish commented on #96
My first question here, you couldn't override the broswer by using a `karma.conf.js` via [custom configuration](https://github.com/gonzofish/angular-librarian#karma-config)?

If that's the case, we could just fix that mechanism to ensure that the custom config supersedes the base browsers specified in [the `test.js` file](https://github.com/gonzofish/angular-librarian/blob/master/commands/initial/

[2018-02-05 14:07] gonzofish commented on #95
Yeah, I did know that but I prefer being explicit about what's included in the testing set up. By being explicit, I feel like you remove ambiguity--however, if you think this is a significant issue, perhaps we can allow the custom config to fully override attributes via special attribute naming? So a normal custom config would be something like:

[code]

But if you want to fully override the attri

[2018-02-05 19:26] SirDarquan commented on #96
Currently the custom config is merged with the base config and there's nothing wrong with that. The override is only for situations where you want to test a subset of browsers without changing your config. I made a PR to show what I mean.

[2018-02-05 22:31] SirDarquan commented on #95
I understand what you're saying and it makes sense. I'm not totally set on the idea of changing it. I was just speaking to the time when I had my karma file setup perfectly before using angular-librarian and then once switching over not quite understanding why it didn't work. Karma itself tries to 'get out of the way' by preferring convention over configuration then angular-librarian says "No, Con

[2018-02-17 15:24] SirDarquan commented on #95
So is this it? Are we not going to continue the discussion? If the ideas I present aren't aligning with your vision of how you believe the library should work, that's fine. But I'd like to know how to move forward and silence doesn't help that.

[2018-02-17 19:15] gonzofish commented on #95
Hey, please don’t think I’m ignoring you—my life has been very busy &
chaotic recently. I’ll try to get to this as soon as I can. Sorry.
On Sat, Feb 17, 2018 at 10:24 AM SirDarquan <notifications@github.com>
wrote:

[2018-02-25 02:08] gonzofish commented on #95
I think I can agree to this, I'll remove the `plugins` section and let users provide the configuration to do it explicitly--good suggestion! I can make this update and I'll close on the next release.

[2018-02-25 11:33] gonzofish commented on #89
Closing this with the MIGRATION.md addition

[2018-02-25 11:33] #89 closed

[2018-02-25 12:41] gonzofish commented on #74
Closed with 68f92d8

[2018-02-25 12:41] #74 closed